<dal name="SimpleShardByDBOnMysql_java">
    <databaseSets>
        <databaseSet name="noShardTestOnSqlServer" provider="sqlProvider">
            <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="noShardTestOnMysql" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
    </databaseSets>
    <LogListener enabled="true">
        <!--<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>-->
        <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
        <settings>
            <encrypt>true</encrypt>
            <secretKey>dalctripcn</secretKey>
            <simplified>true</simplified>
            <sampling>false</sampling>
            <samplingLow>2</samplingLow>
            <samplingHigh>1</samplingHigh>
            <sampleMaxNum>5000</sampleMaxNum>
            <sampleClearInterval>30</sampleClearInterval>
            <asyncLogging>false</asyncLogging>
        </settings>
    </LogListener>
    <ConnectionLocator>
        <settings>
            <useLocalConfig>true</useLocalConfig>
            <databaseConfigLocation>$classpath</databaseConfigLocation>
            <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
        </settings>
    </ConnectionLocator>
    <TaskFactory>
        <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
        <settings>
                  <callSpt>true</callSpt>
        </settings>
    </TaskFactory>
</dal>