body {
    padding-top: 30px;
}

.dal-navbar {
    background-color: #205081;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #3b73af;
}

#main_layout {
    height: 100 % ;
    padding-top: 20px;
}

.logo{
	padding:5px;
	float:left;
}

.popup_text{
	float: right !important;
	padding-top: 1px;
}

.popup_label{
	float:left;
	min-height:30px;
	line-height:30px;
}

label.btn{
	height: 30px;
}