
.dal-navbar {
  background-color: #205081;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #3b73af;
}

#main_layout{
	height: 100%;
}
#main_layout{
	padding-top: 18px;
}

/*.add_proj, .ref_proj{
	  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add_proj:before{
	content: "\f067";
}

.ref_proj:before{
	content: "\f021";
}*/

/*#widget{
	margin-top: 19px;
}

.container-fluid{
	overflow: hidden;	

}

.container-fluid > .sidebar > .well{
	height: 96%;
	 background-color: #f0f0f0;
	border: 0px;
	padding:1px;
}

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 200px; 
    height: 96%;
 overflow: hidden;
 background-color: #f0f0f0;
 border: 1px solid #e3e3e3;
}


.left {
    float:left;
}

.right {
    float:right;
}

.container-fluid > .content {
    margin-left: 320px; 
    margin-right: 50px;
    width: 96%;
}

#footer{

border-top: 1px solid #ccc;
float: left;
width: 100%;
text-align: center;
height: 25px;

}

.code_edit{
	height: 100%;
	width: 100%;
}

.dropdown-menu{
	min-width: 142px;
}

.add_proj, .ref_proj{
	  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add_proj:before{
	content: "\f067";
}

.ref_proj:before{
	content: "\f021";
}
*/

/*.sidebar{
	z-index: 100;
	position: fixed;
	position: absolute;
	width: 250px;
	top: 50px;
	left: 0px;
}*/

/*.tree_wrapper{
	
	background-repeat: repeat-y;
	background-position: right top;
	background-color: #F0F0F0;
	display: block;
}*/


/*html,
body {
	height: 100%;

}


#wrap {
min-height: 100%;
height: auto !important;
height: 100%;

margin: 0 auto -40px;
}


#push,
#footer {
height: 40px;
}
#footer {
background-color: #f5f5f5;
}
*/