<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="baseDir">/opt/logs/100016446</Property>
        <Property name="appName">idgen-server</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
        </Console>
        <RollingFile name="IdGenServerRollingFile" fileName="${baseDir}/${appName}.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Async name="Async" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Async>
        <CatAppender name="Cat"/>
    </Appenders>
    <Loggers>
        <Logger name="com.ctrip.framework.idgen.server" additivity="false" level="INFO">
            <AppenderRef ref="IdGenServerRollingFile"/>
            <AppenderRef ref="Cat"/>
            <AppenderRef ref="Async"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Cat"/>
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
