<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="SimpleShard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=index,tableIndex;mod=2;">
      <add  name="dao_test_sqlsvr_dbShard_0" databaseType="Master" sharding="0" connectionString="SimpleShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_1" databaseType="Master" sharding="1" connectionString="SimpleShard_1"/>
    </databaseSet>
    <databaseSet name="SimpleDbTableShard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=CountryID;mod=2;tableColumns=CityID;tableMod=2;separator=_;shardedTables=People">
      <add  name="dao_test_sqlsvr_dbShard_0" databaseType="Master" sharding="0" connectionString="SimpleShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_1" databaseType="Master" sharding="1" connectionString="SimpleShard_1"/>
    </databaseSet>
    <databaseSet name="SqlServerNoFreshness" provider="sqlProvider">
      <add  name="dao_test_sqlsvr_dbShard_3" databaseType="Master" sharding="0" connectionString="TVP"/>
      <add  name="dao_test_sqlsvr_dbShard_5" databaseType="Slave" sharding="0" connectionString="dao_test_sqlsvr"/>
    </databaseSet>
    <databaseSet name="MysqlNoFreshness" provider="mysqlProvider">
      <add  name="dao_test_mysql_dbShard_0" databaseType="Master" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_mysql_dbShard_1" databaseType="Slave" sharding="1" connectionString="dao_test_mysql"/>
    </databaseSet>
    <databaseSet name="SimpleSqlServerFreshness" provider="sqlProvider">
      <add  name="dao_test_sqlsvr_dbShard_0" databaseType="Master" sharding="0" connectionString="SqlSvrShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_3" databaseType="Slave" sharding="0" connectionString="SqlSvrShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_5" databaseType="Slave" sharding="0" connectionString="SqlSvrShard_1"/>
      <add  name="dao_test_sqlsvr_dbShard_7" databaseType="Slave" sharding="0" connectionString="SimpleShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_9" databaseType="Slave" sharding="0" connectionString="SimpleShard_1"/>
    </databaseSet>
    <databaseSet name="SimpleMysqlFreshness" provider="mysqlProvider">
      <add  name="dao_test_mysql_dbShard_0" databaseType="Master" sharding="0" connectionString="MySqlShard_0"/>
      <add  name="dao_test_mysql_dbShard_3" databaseType="Slave" sharding="0" connectionString="MySqlShard_0"/>
      <add  name="dao_test_mysql_dbShard_5" databaseType="Slave" sharding="0" connectionString="MySqlShard_1"/>
      <add  name="dao_test_mysql_dbShard_7" databaseType="Slave" sharding="0" connectionString="MySqlShard_2"/>
      <add  name="dao_test_mysql_dbShard_9" databaseType="Slave" sharding="0" connectionString="MySqlShard_3"/>
    </databaseSet>
    <databaseSet name="SimpleSqlServerShardFreshness" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true">
      <add  name="dao_test_sqlsvr_dbShard_0" databaseType="Master" sharding="0" connectionString="TVP"/>
      <add  name="dao_test_sqlsvr_dbShard_1" databaseType="Master" sharding="1" connectionString="dao_test_sqlsvr"/>
      <add  name="dao_test_sqlsvr_dbShard_3" databaseType="Slave" sharding="0" connectionString="SqlSvrShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_5" databaseType="Slave" sharding="0" connectionString="SqlSvrShard_1"/>
      <add  name="dao_test_sqlsvr_dbShard_7" databaseType="Slave" sharding="1" connectionString="SimpleShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_9" databaseType="Slave" sharding="1" connectionString="SimpleShard_1"/>
    </databaseSet>
    <databaseSet name="SimpleMysqlShardFreshness" provider="mysqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true">
      <add  name="dao_test_mysql_dbShard_0" databaseType="Master" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_mysql_dbShard_1" databaseType="Master" sharding="1" connectionString="dao_test_mysql"/>
      <add  name="dao_test_mysql_dbShard_3" databaseType="Slave" sharding="0" connectionString="MySqlShard_0"/>
      <add  name="dao_test_mysql_dbShard_5" databaseType="Slave" sharding="0" connectionString="MySqlShard_1"/>
      <add  name="dao_test_mysql_dbShard_7" databaseType="Slave" sharding="1" connectionString="MySqlShard_2"/>
      <add  name="dao_test_mysql_dbShard_9" databaseType="Slave" sharding="1" connectionString="MySqlShard_3"/>
    </databaseSet>
    <databaseSet name="HotelPubDB" provider="sqlProvider">
      <add  name="HotelPubDB_M" databaseType="Master" sharding="" connectionString="dao_test_sqlsvr"/>
      <add  name="HotelPubDB_S1" databaseType="Slave" sharding="" connectionString="dao_test_sqlsvr"/>
      <add  name="HotelPubDB_S2" databaseType="Slave" sharding="" connectionString="dao_test_sqlsvr"/>
      <add  name="HotelPubDB_S3" databaseType="Slave" sharding="" connectionString="dao_test_sqlsvr"/>
    </databaseSet>
    <databaseSet name="TVP" provider="sqlProvider">
      <add  name="TVP" databaseType="Master" sharding="" connectionString="TVP"/>
    </databaseSet>
    <databaseSet name="MySqlSimpleShard" provider="mysqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=CountryID;mod=2;tableColumns=CityID;tableMod=4;separator=_;shardedTables=person">
      <add  name="dao_test_mysql_dbShard_0" databaseType="Master" sharding="0" connectionString="MySqlShard_0"/>
      <add  name="dao_test_mysql_dbShard_1" databaseType="Master" sharding="1" connectionString="MySqlShard_1"/>
    </databaseSet>
    <databaseSet name="MySqlSimpleShardForDB" provider="mySqlProvider"
         shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=CountryID;mod=2">
        <add name="dal_shard_0" databaseType="Master" sharding="0" connectionString="MySqlShard_0"/>   
        <add name="dal_shard_1" databaseType="Master" sharding="1" connectionString="MySqlShard_1"/>   
    </databaseSet>
      <databaseSet name="dao_test" provider="mySqlProvider">
          <add  name="dao_test" databaseType="Master" sharding="" connectionString="dao_test"/>
        </databaseSet>
    <cluster name="TestCluster1"/>
    <cluster name="RWDemoCluster"/>
    <cluster name="TestCluster2"/>
    <cluster name="TestCluster2" alias="TestCluster2Alias">
      <settings>
         <maxThreadsPerShard>2</maxThreadsPerShard>
      </settings>
    </cluster>
  </databaseSets>
  <LogListener enabled="true">
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
      <settings>
        <encrypt>false</encrypt>
        <secretKey>dalctripcn</secretKey>
        <simplified>true</simplified>
        <sampling>true</sampling>
        <samplingLow>2</samplingLow>
        <samplingHigh>1</samplingHigh>
        <sampleMaxNum>5000</sampleMaxNum>
        <sampleClearInterval>30</sampleClearInterval>
        <asyncLogging>false</asyncLogging>
      </settings>
  </LogListener>
  <ConnectionLocator>
      <settings>
         <useLocalConfig>true</useLocalConfig>
         <databaseConfigLocation>$classpath</databaseConfigLocation>
         <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
      </settings>
  </ConnectionLocator>
  <TaskFactory>
      <settings>
         <maxPoolSize>5</maxPoolSize>
      </settings>
      <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
  </TaskFactory>
  <DatabaseSelector>
      <selector>com.ctrip.platform.dal.dao.configure.FreshnessDatabaseSelector</selector>
  </DatabaseSelector>
</dal>
