<dal name="dal.prize.test">
  <databaseSets>
     <databaseSet name="TVP" provider="sqlProvider">
          <add  name="TVP" databaseType="Master" sharding="" connectionString="TVP"/>
     </databaseSet>
  </databaseSets>
  <ConnectionLocator>
      <settings>
         <useLocalConfig>true</useLocalConfig>
		 <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
	  </settings>
  </ConnectionLocator>
  <TaskFactory>
      <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
      <settings>
        <callSpt>true</callSpt>
      </settings>
  </TaskFactory>
</dal>
