<connectionStrings>
<add name="SimpleShard_0" connectionString="Data Source=arch02.dev.sh.ctripcorp.com,1433;UID=sa;password=abcdefgh_123; database=SimpleShard_0;" providerName="System.Data.SqlClient"/>
<add name="SimpleShard_1" connectionString="Data Source=arch02.dev.sh.ctripcorp.com,1433;UID=sa;password=abcdefgh_123; database=SimpleShard_1;" providerName="System.Data.SqlClient"/>
</connectionStrings>