<connectionStrings Version="dev">
	<add name="SimpleShard_0" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_0;" providerName="System.Data.SqlClient"/>
	<add name="SimpleShard_1" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_1;" providerName="System.Data.SqlClient"/>
	<add name="dao_test_sqlsvr" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
	<add name="dao_test_mysql" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
	<add name="PayBaseDB_INSERT_2" connectionString="ZYmhaT1hrsv42pJ5FDQRcIbjfGKv1vW3b23v+vpHIe+lBKgoRgMahkU3L/nMAIUoKlDgqnj2lSIghSOMcmosfxkCEVxbzelGmlHJruN2us/zzkTtaWbHcXAfrCsiV/OAGMOdSNO3AIwI4Ww+E01KqP7PrHoW5C4o8xDFzybj2h+GSrIA5YrabXMb5WxjcqtSzObphyLCxT3f7/7Zl+IixnpEYz1eEq9n5xTkA23NYYtNNfjBFtepS0h+RCBtK+1a/K1ek3c2Sxl+PczmEaE1ZdIX5BdiUEQ4F15RHN8COaDPsaBKvlPki4B2/Hsl90s5" providerName="System.Data.SqlClient" /> 
</connectionStrings>