<connectionStrings Version="dev">
	<add name="SimpleShard_0" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_0;" providerName="System.Data.SqlClient"/>
	<add name="SimpleShard_1" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_1;" providerName="System.Data.SqlClient"/>
	<add name="dao_test_sqlsvr" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
	<add name="dao_test_mysql" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
</connectionStrings>