<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>
   <!-- <typeAliases>
        <typeAlias alias="DRTestMapper" tyDRTestMybatisMySQLTest.DRTestMapperDao" />
        &lt;!&ndash;<typeAlias alias="Topic" type="com.smart.domain.Topic" />
        <typeAlias alias="Post" type="com.smart.domain.Post" />&ndash;&gt;
    </typeAliases>-->
   <!-- <mappers>
        <mapper resourDRTestMybatisMySQLTest/DRTestMapper/DRTestMapper.xml"/>
    </mappers>-->
</configuration>