<dal name="SimpleShardByDBOnMysql_java">
	<databaseSets>
        <databaseSet name="noShardTestOnMysql_111" provider="mySqlProvider">
                     <add name="mysqldaltest01db_W_111" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W_111"/>
        </databaseSet>
        <databaseSet name="noShardTestOnMysql_122" provider="mySqlProvider">
                     <add name="mysqldaltest01db_W_122" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W_122"/>
        </databaseSet>
	</databaseSets>
	<LogListener enabled="true">
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
    </LogListener>
	<ConnectionLocator>
		<settings>
		    <useLocalConfig>true</useLocalConfig>
		    <databaseConfigLocation>$classpath</databaseConfigLocation>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>