<dal name="dal.prize.test">
  <databaseSets>
    <!--这里需要注意，mod的取值，如果city_id余2，则要么是1，要么是0，那么在下面配置的时候，sharding字段的取值就需要覆盖所有情况-->
    <databaseSet name="shardingtestMaster" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;columns=city_id,user_id;mod=2>
      <add name="shardingtestMaster_M1" databaseType="Master" sharding="0" connectionString="shardingtestMaster"/>
      <add name="shardingtestMaster_M2" databaseType="Master" sharding="1" connectionString="shardingtestMaster"/>
      <add name="shardingtestMaster_S1" databaseType="Slave" sharding="0" connectionString="shardingtestSlave"/>
      <add name="shardingtestMaster_S2" databaseType="Slave" sharding="1" connectionString="shardingtestSlave"/>
    </databaseSet>
  </databaseSets>
</dal>