<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="HtlOvsPubDB_SELECT_1" provider="sqlProvider">
      <add  name="HtlOvsPubDB_SELECT_1_M" databaseType="Master" sharding="" connectionString="HtlOvsPubDB_SELECT_1"/>
      <!--add  name="HtlOvsPubDB_SELECT_1_S" databaseType="Slave" sharding="" connectionString="HtlOvsPubDB_SELECT_1"/-->
    </databaseSet>
    <databaseSet name="HtlReplDB_SELECT_1" provider="sqlProvider">
      <add  name="HtlReplDB_SELECT_1_M" databaseType="Master" sharding="" connectionString="HtlReplDB_SELECT_1"/>
      <!--add  name="HtlReplDB_SELECT_1_S" databaseType="Slave" sharding="" connectionString="HtlReplDB_SELECT_1"/-->
    </databaseSet>
    <databaseSet name="dao_test" provider="mySqlProvider">
      <add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
      <!--add  name="dao_test_S" databaseType="Slave" sharding="" connectionString="dao_test"/-->
    </databaseSet>
    <databaseSet name="AccCorpDB_INSERT_1" provider="sqlProvider">
      <add  name="AccCorpDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="AccCorpDB_INSERT_1"/>
      <!--add  name="AccCorpDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="AccCorpDB_INSERT_1"/-->
    </databaseSet>
  </databaseSets>
</dal>
