<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev">
	<add name="mysqldaltest01db_W" connectionString="Server=10.32.21.149;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="Arch.Data.MySqlProvider"/>
	<add name="mysqldaltest01db_W_111" connectionString="Server=10.2.74.111;port=55111;UID=tt_daltest1_2;password=k4AvZUIdDAcbyUvLirWG;database=mysqldaltest01db;" providerName="Arch.Data.MySqlProvider"/>
    <add name="mysqldaltest01db_W_122" connectionString="Server=10.2.74.122;port=55111;UID=tt_daltest1_2;password=k4AvZUIdDAcbyUvLirWG;database=mysqldaltest01db;" providerName="Arch.Data.MySqlProvider"/>
</connectionStrings>