<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev"> 
	<add name="SimpleShard_0" connectionString="Data Source=devdb.dev.sh.ctriptravel.com,28747;UID=uws_AllInOneKey_dev;password=!QAZ@WSX1qaz2wsx;database=daltestS0db;" providerName="System.Sql.SqlClient"/>
	<add name="SimpleShard_1" connectionString="Data Source=devdb.dev.sh.ctriptravel.com,28747;UID=uws_AllInOneKey_dev;password=!QAZ@WSX1qaz2wsx;database=daltestS1db;" providerName="System.Sql.SqlClient"/>
    <add name="dal_shard_0" connectionString="Server=pub.mysql.db.dev.sh.ctripcorp.com;port=28747;UID=uws_dbticket;password=kgd8v5CenyoMjtg1uwzj;database=dal_shard_0;" providerName="System.Data.SqlClient"/>
    <add name="dal_shard_1" connectionString="Server=pub.mysql.db.dev.sh.ctripcorp.com;port=28747;UID=uws_dbticket;password=kgd8v5CenyoMjtg1uwzj;database=dal_shard_1;" providerName="System.Data.SqlClient"/>
	<add name="MultiThreadingTest" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=HotelPubDB" providerName="System.Data.SqlClient"/>
</connectionStrings>