<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="dao_test" provider="mySqlProvider">
      <add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
      <!--add  name="dao_test_S" databaseType="Slave" sharding="" connectionString="dao_test"/-->
    </databaseSet>
  </databaseSets>
</dal>
