
<div id="dashboard">
	<br>
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PORTLET-->
			<div class="portlet box green tasks-widget">
				<div class="portlet-title line">
					<div class="caption"><i class="icon-bell"></i>Operation Area</div>
					<div class="tools">
						<a href="" class="icon-collapse collapse"></a>
						<a href="" class="icon-refresh reload"></a>
					</div>
				</div>
				<div class="portlet-body">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab_1_1" data-toggle="tab">Table/View</a></li>
							<li><a href="#tab_1_2" data-toggle="tab">Stored Procedure</a></li>
							<li><a href="#tab_1_3" data-toggle="tab">Free Form SQL</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_1">
								<div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible="0">
									<select>
					                  <option>Database 1</option>
					                  <option>Database 1</option>
					                </select>

				                    <select style="margin-left:20px;">
				                      <option>Table/View/Join 1</option>
				                      <option>Table/View/Join 2</option>
				                    </select>

				                    Function Name:<input type="text">

				                    <div class="row-fluid btn-group" data-toggle="buttons-radio" style="margin-left:80px;">
								      <button type="button" class="btn btn-primary active">Select</button>
								      <button type="button" class="btn btn-primary">Insert</button>
								      <button type="button" class="btn btn-primary">Update</button>
								      <button type="button" class="btn btn-primary">Delete</button>
    								</div>

    <br>
    <br>

     <div class="row-fluid bootstrap-duallistbox-container">
      <div class="span3 box1 filtered">
        <div class="btn-group buttons">
          <button type="button" class="btn moveall" title="Move all">
            <i class="icon-arrow-right"></i>
            <i class="icon-arrow-right"></i>
          </button>
          <button type="button" class="btn move" title="Move selected">
            <i class="icon-arrow-right"></i>
          </button>
        </div>

        <select id="left_select" multiple="multiple" data-duallistbox_generated="true" name="duallistbox_demo2_helper1" style="height: 169px;">
          <option value="option7">Name</option>
          <option value="option8">Age</option>
          <option value="option9">Gender</option>
        </select>
      </div>

      <div class="span3 box1 filtered">
        <div class="btn-group buttons">
          <button type="button" class="btn remove" title="Remove selected"><i class="icon-arrow-left"></i>
          </button>
          <button type="button" class="btn removeall" title="Remove all">
            <i class="icon-arrow-left"></i>
            <i class="icon-arrow-left"></i>
          </button>
        </div>

        <select id="right_select" multiple="multiple" data-duallistbox_generated="true" name="duallistbox_demo2_helper2" style="height: 169px;">
          <option value="option3" selected="selected">Address</option>
          <option value="option6" selected="selected">Telephone</option>
        </select>
      </div>

      <div class="span3 box1 filtered">

        <select id="left_select" multiple="multiple" data-duallistbox_generated="true" name="duallistbox_demo2_helper1" style="height: 200px;">
           <option value="option7">Name</option>
          <option value="option8">Age</option>
          <option value="option9">Gender</option>
           <option value="option3" selected="selected">Address</option>
          <option value="option6" selected="selected">Telephone</option>
        </select>
      </div>

       <div style="float:left;">
      <select name="duallistbox_demo2_helper2" style="height:25px;width:120px;margin-left:30px;">
            <option value="option3" selected="selected">Equal</option>
            <option value="option3" selected="selected">Not Equal</option>
            <option value="option3" selected="selected">Great Than</option>
            <option value="option3" selected="selected">Less Than</option>
            <option value="option3" selected="selected">Great Equal Than</option>
            <option value="option3" selected="selected">Less Equal Than</option>
            <option value="option3" selected="selected">Between</option>
            <option value="option3" selected="selected">Like</option>
            <option value="option3" selected="selected">In</option>
      </select>
    </div>

    </div>

								</div>
							</div>
							<div class="tab-pane" id="tab_1_2">
								<div class="scroller" style="height:320px" data-always-visible="1" data-rail-visible1="1">
									<ul class="feeds">
										
										
									
										<li>
											<a href="#">
												<div class="col1">
													<div class="cont">
														<div class="cont-col1">
															<div class="label label-success">                        
																<i class="icon-bell"></i>
															</div>
														</div>
														<div class="cont-col2">
															<div class="desc">
																New user registered
															</div>
														</div>
													</div>
												</div>
												<div class="col2">
													<div class="date">
														Just now
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="tab-pane" id="tab_1_3">
								<div class="scroller" style="height:320px" data-always-visible="1" data-rail-visible1="1">
									 <div id="editor" style="height:320px;">SELECT Address, Telephone FROM Person
WHERE Name = {string} AND Age BETWEEN {int} AND {int}
AND Gender IN {int[]}</div>
								</div>
							</div>
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>

	<!--End Feeds-->

	<div class="row-fluid">
		<div class="span3 offset2">
				<button type="button" class="btn" onclick="save_task()">Add Task</button>
		</div>
		<div class="span3">
          <select>
            <option>Java</option>
            <option>Python</option>
            <option>C#</option>
          </select>
         </div>
		<div class="span3">
			 <button type="button" class="btn" onclick="save_task()">Generate Code</button>
		</div>
	</div>

	<!-- <div class="clearfix"></div> -->

	<div class="row-fluid">
		<div class="span12">
			<div class="portlet box blue tasks-widget">
				<div class="portlet-title">
					<div class="caption"><i class="icon-check"></i>Tasks</div>
					<div class="tools">
						<a href="" class="icon-collapse collapse"></a>
						<a href="" class="icon-refresh reload"></a>
					</div>

				</div>
				<div class="portlet-body">
					<div class="task-content">
						<div class="scroller" style="height:258px" data-always-visible="1" data-rail-visible1="1">
							<!-- START TASK LIST -->
							<ul class="task-list unstyled">
								<li>
									<div class="task-title">
										<span class="task-title-sp">Present 2013 Year IPO Statistics at Board Meeting</span>
									</div>
									<div class="task-config">
										<div class="task-config-btn btn-group">
											<a class="btn mini blue" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">More <i class="icon-angle-down"></i></a>
											<ul class="dropdown-menu pull-right">
												<li><a href="#"><i class="icon-ok"></i> Preview</a></li>
												<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
												<li><a href="#"><i class="icon-trash"></i> Cancel</a></li>
											</ul>
										</div>
									</div>
								</li>
								
							
							</ul>
							<!-- END START TASK LIST -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</div>