<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">  
   			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %c:%L - %m%n" />  
  		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">  
			<param name="LevelMax" value="error"/>  
			<param name="LevelMin" value="trace"/>  
		</filter>  
	</appender>
	
	<appender name="msgout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./codegen.msg.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
		
	<appender name="errorout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./codegen.error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">  
			<param name="LevelMax" value="FATAL" />  
			<param name="LevelMin" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	 <root>  
        <priority value="debug"/> 
        <appender-ref ref="stdout" />   
        <appender-ref ref="msgout" />  
        <appender-ref ref="errorout" />  
    </root> 
</log4j:configuration>