<div>
    <h3 class="header smaller lighter blue">
    	&nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="/#/cluster_list">Cluster List</a>
        <span> > </span>
    	<a href="/#/cluster_list?clusterName={{clusterName}}">{{clusterName}}</a>
    	<span> > </span>
    	<span>详情</span>
    </h3>
    <div>
        <ul class="nav nav-tabs padding-18 tab-size-bigger" ng-if="zones && zones.length">
            <li ng-repeat="zone in zones" ng-class="{'active': currentZoneId == zone.zoneId}">
                <a ng-click="switchZone(zone)" data-toggle="tab">
                    {{zone.zoneId}}
                </a>
            </li>
        </ul>

        <div ng-if="zones && zones.length">
            <div class="col-xs-12">
                <div class="panel panel-primary" style="margin-top: 15px;" ng-repeat="shard in shards">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">shard{{shard.shardIndex}}({ shard.dbName })</div>
                            <div class="col-md-6 text-right">
                            	<a class="btn btn-primary btn-sm" href="">编辑</a>
                            </div>
                        </div>
                    </header>

                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                角色
                            </th>
                            <th>
                                域名
                            </th>
                            <th>
                                端口
                            </th>
                            <th>
                            	实例数
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="showInstanceConfirm('master', $index)">
                            <td >
                                <span class="label label-info">Master</span>
                            </td>
                            <td ng-bind="shard.master.domain">
                            </td>
                            <td ng-bind="shard.master.port">
                            </td>
                            <td ng-bind="shard.master.instances.length"></td>
                        </tr>

                        <tr ng-click="showInstanceConfirm('slave', $index)">
                            <td >
                                <span class="label label-info">Slave</span>
                            </td>
                            <td ng-bind="shard.slave.domain">
                            </td>
                            <td ng-bind="shard.slave.port">
                            </td>
                            <td ng-bind="shard.slave.instances.length"></td>
                        </tr>

                        <tr ng-click="showInstanceConfirm('read', $index)">
                            <td >
                                <span class="label label-info">Read</span>
                            </td>
                            <td ng-bind="shard.Read.domain">
                            </td>
                            <td ng-bind="shard.Read.port">
                            </td>
                            <td ng-bind="shard.Read.instances.length"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="(!zones || !zones.length) && clusterName">
            无shards
        </div>
    </div>

    <dbclusterconfirmdialog dbcluster-dialog-id="'InstanceInfoConfirm'" dbcluster-title="'实例信息'"
                            dbcluster-detail="instances"
                            dbcluster-show-cancel-btn="true"
                            dbcluster-confirm="changeConfig"
                            dbcluster-cancel="updateConfig"
    ></dbclusterconfirmdialog>
</div>

