<dal name="codegen">
	<databaseSets>
		<databaseSet name="dao" provider="mySqlProvider">
            <add name="dao" databaseType="Master" sharding="" connectionString="dao"/>
		</databaseSet>
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
	</LogListener>
</dal>