<dal name="dal.prize.test">
  <databaseSets>
      <databaseSet name="mysqldaltest01db_W" provider="sqlProvider">
          <add  name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W"/>
        </databaseSet>
  </databaseSets>
  <LogListener enabled="true">
      <logger>com.ctrip.platform.dal.dao.client.NullLogger</logger>
      <settings>
        <encrypt>false</encrypt>
        <secretKey>dalctripcn</secretKey>
        <simplified>true</simplified>
        <sampling>true</sampling>
        <samplingLow>2</samplingLow>
        <samplingHigh>1</samplingHigh>
        <sampleMaxNum>5000</sampleMaxNum>
        <sampleClearInterval>30</sampleClearInterval>
        <asyncLogging>false</asyncLogging>

      </settings>
  </LogListener>
  <ConnectionLocator>
      <settings>
         <databaseConfigLocation>$classpath</databaseConfigLocation>
		 <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
	  </settings>
  </ConnectionLocator>
  <TaskFactory>
      <factory>com.ctrip.platform.dal.dao.task.DefaultTaskFactory</factory>
      <settings>
        <callSpbyName>false</callSpbyName>
      </settings>
  </TaskFactory>
</dal>
