<connectionStrings Version="dev">
	<add name="SimpleShard_0" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_0;" providerName="System.Data.SqlClient"/>
	<add name="SimpleShard_1" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_1;" providerName="System.Data.SqlClient"/>
	<add name="dao_test_sqlsvr" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
	<add name="dao_test_mysql" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
	<add name="SimpleShard_0_SH" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=SimpleShard_0;" providerName="System.Data.SqlClient"/> 

    <add name="daogen" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=daogen;" providerName="System.Data.SqlClient"/>
    <add name="ha_test" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=ha_test;" providerName="System.Data.SqlClient"/>
    <add name="ha_test_1" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=ha_test;" providerName="System.Data.SqlClient"/> 
    <add name="ha_test_2" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=ha_test;" providerName="System.Data.SqlClient"/>
    <add name="dao_test" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_sqlsvr" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_sqlsvr_0" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_sqlsvr_1" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_mysql" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_mysql_0" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_mysql_1" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_oracle" connectionString="Server=DST55889;port=1521;UID=SYSTEM;password=Admin1234;database=shard0;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_oracle_0" connectionString="Server=DST55889;port=1521;UID=SYSTEM;password=Admin1234;database=shard0;" providerName="System.Data.SqlClient"/>
    <add name="dao_test_oracle_1" connectionString="Server=DST55889;port=1521;UID=SYSTEM;password=Admin1234;database=shard1;" providerName="System.Data.SqlClient"/>
    <add name="dal_test_new" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=DAL_TEST;" providerName="System.Data.SqlClient"/>
    <add name="MySqlShard_0" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=Shard_0;" providerName="System.Data.SqlClient"/> 
    <add name="MySqlShard_1" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=Shard_1;" providerName="System.Data.SqlClient"/>
    <add name="SqlSvrShard_0" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=Shard_0;" providerName="System.Data.SqlClient"/>
    <add name="SqlSvrShard_1" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=Shard_1;" providerName="System.Data.SqlClient"/>
    <add name="SimpleShard_0" connectionString="Data Source=10.32.20.143,1433;UID=sa;password=!QAZ@WSX1qaz2wsx;database=SimpleShard_0;" providerName="System.Sql.SqlClient"/>
    <add name="dao_test_select" connectionString="Server=10.32.20.143;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test;" providerName="Arch.Data.MySqlProvider"/>
    <add name="dal_shard_0" connectionString="Server=pub.mysql.db.dev.sh.ctripcorp.com;port=28747;UID=uws_dbticket;password=kgd8v5CenyoMjtg1uwzj;database=dal_shard_0;" providerName="System.Data.SqlClient"/>
    <add name="dal_shard_1" connectionString="Server=pub.mysql.db.dev.sh.ctripcorp.com;port=28747;UID=uws_dbticket;password=kgd8v5CenyoMjtg1uwzj;database=dal_shard_1;" providerName="System.Data.SqlClient"/>
    <!-- the following two is from fat database.config, we are no longer support decrypt from such format -->
    <add name="PayBaseDB_INSERT_2" connectionString="ZYmhaT1hrsv42pJ5FDQRcIbjfGKv1vW3b23v+vpHIe+lBKgoRgMahkU3L/nMAIUoKlDgqnj2lSIghSOMcmosfxkCEVxbzelGmlHJruN2us/zzkTtaWbHcXAfrCsiV/OAGMOdSNO3AIwI4Ww+E01KqP7PrHoW5C4o8xDFzybj2h+GSrIA5YrabXMb5WxjcqtSzObphyLCxT3f7/7Zl+IixnpEYz1eEq9n5xTkA23NYYtNNfjBFtepS0h+RCBtK+1a/K1ek3c2Sxl+PczmEaE1ZdIX5BdiUEQ4F15RHN8COaDPsaBKvlPki4B2/Hsl90s5" providerName="System.Data.SqlClient" />
    <add name="AbacusDB_SEC" connectionString="aieav+rvoUNKFGHgj4QhYizWOL4MOabsXijw1hugKigjWQkmsltO0P7lUhwwfMFwoJGHiY4FBTBsW64TaducbKx+cFo8xNga6rPSD/yaCrY5QjV8+/m131RO7ztQ4JTBaQwmvhMDGRwRXLp//Jq9INwau93pHXywjbld3IQgNPiXsfts25M9yVVAvhFHSXrF11RxyMH6W2Dl00icgZ2PLqhQZ7nxS3q5NOsLHBNlerx5ANJTB/4zDzT8du0DHUkZr05XGAoV0X7DX6IcMJ9nQr+JwZRkcffgJouwM9opfGWk0oYB2B6KWNf64C7zvDHV" providerName="System.Data.SqlClient"/>
    <add name="readonly_test" connectionString="Data Source=dst56614.cn1.global.ctrip.com,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=wyn_test;" providerName="System.Data.SqlClient"/>
    <add name="test12345678" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=daogen;" providerName="System.Data.SqlClient"/>
</connectionStrings>