<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%5p][%d{MM-dd HH:mm:ss.SSS}][%t][%c:%L]-%m%n</pattern>
		</encoder>
	</appender>
	<appender name="CentralLogging" class="com.ctrip.framework.clogging.agent.appender.CLoggingAppender">
	</appender>
	<root level="INFO">
        <appender-ref ref="stdout" />
		<appender-ref ref="CentralLogging" />
	</root>
</configuration>