<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="baseDir">applogs</Property>
        <Property name="appName">idgentest</Property>
        <Property name="dubboName">dubbo</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%p][%t][%c] - %m%n"/>
        </Console>
        <RollingFile name="AppRollingFile" fileName="${baseDir}/${appName}.log"
                     filePattern="${baseDir}/${appName}-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${appName}*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="DubboRollingFile" fileName="${baseDir}/${dubboName}.log"
                     filePattern="${baseDir}/${dubboName}-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout pattern="[${dubboName}][%d][%p][%t][%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="${dubboName}*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Async name="Async" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="com.ctrip.framework.idgen" additivity="false" level="INFO">
            <AppenderRef ref="AppRollingFile"/>
        </Logger>
        <Logger name="com.ctrip.framework.cdubbo" additivity="false" level="INFO">
            <AppenderRef ref="DubboRollingFile"/>
        </Logger>
        <Logger name="com.alibaba.dubbo" additivity="false" level="INFO">
            <AppenderRef ref="DubboRollingFile"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
