<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="60">
    <Properties>
        <Property name="appName">idgen-client</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[${appName}][%t]%d %-5p [%c] %m%n"/>
        </Console>
        <Async name="Async" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Async>
        <CatAppender name="Cat"/>
    </appenders>
    <loggers>
        <logger name="com.ctrip.framework.idgen.client" additivity="false" level="INFO">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Cat"/>
        </logger>
        <root level="INFO">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Cat"/>
        </root>
    </loggers>
</configuration>
