<?xml version="1.0" encoding="UTF-8" ?>
<Configuration packages="com.ctrip.framework.clogging.agent.appender">
    <Appenders>
        <Async name="ASYNC">
            <AppenderRef ref="CONSOLE" />
        </Async>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %c{1.} - %m%n" />
        </Console>

        <!--收集到CAT/Clog-->
        <CatAppender name="Cat"/>
    </Appenders>

    <Loggers>
        <Root level="info">
            <Appender-ref ref="ASYNC" />
            <AppenderRef ref="Cat"/>
        </Root>
    </Loggers>
</Configuration>