<dal name="demo">
	<databaseSets>
		<databaseSet name="DalMySqlTest" provider="mySqlProvider">
			<!--<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="mysqldbatestshard01db_w"/>-->
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="dalservice2db_w"/>
		</databaseSet>
		<cluster name="dbadalclustertest01db_dalcluster" alias="dbadalclustertest01db"/>
		<databaseSet name="DalMySqlTest2" provider="mySqlProvider">
			<add name="DalService2DB_W2" databaseType="Master" sharding="" connectionString="DalService3DB_W"/>
		</databaseSet>
		<databaseSet name="DalSQLServerTest" provider="sqlProvider">
			<add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
		</databaseSet>
		<!--<databaseSet name="testExistSequenceDbName" provider="mysqlProvider">
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_9"/>
			<idGenerator sequenceDbName="existDb"/>
		</databaseSet>
		<databaseSet name="testExistSequenceDbName2" provider="mysqlProvider">
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_9"/>
			<idGenerator sequenceDbName="existDb"/>
		</databaseSet>
		<databaseSet name="testNonExistSequenceDbName" provider="mysqlProvider">
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_10"/>
			<idGenerator sequenceDbName="nonExistDb"/>
		</databaseSet>
		<databaseSet name="testPrefetchWithNoEntity" provider="mysqlProvider">
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_8"/>
			<idGenerator entityDbName="NonExistEntityDbName" entityPackage="IDAutoGenerator"/>
		</databaseSet>
		<databaseSet name="testPrefetchWithRegisteredDB" provider="mysqlProvider">
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_11"/>
			<idGenerator entityDbName="noShardTestOnMysql" entityPackage="IDAutoGenerator"/>
		</databaseSet>-->
		<!--<databaseSet name="testPrefetchWithNonRegisteredDB" provider="mysqlProvider">
			<add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_12"/>
			<idGenerator entityDbName="DalMySqlTest" entityPackage="com.ctrip.platform.dal.application.entity"/>
		</databaseSet>-->
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
	</LogListener>
	<ConnectionLocator>
		<settings>
			<!--<useLocalConfig>true</useLocalConfig>
			<databaseConfigLocation>$classpath</databaseConfigLocation>-->
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>
