<dal name="demo">
	<databaseSets>
		<databaseSet name="DalMySqlTest" provider="mySqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="mysqldaltest01db_test191_w"/>
		</databaseSet>
		<databaseSet name="DalSQLServerTest" provider="sqlProvider">
                    <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
	</LogListener>
	<ConnectionLocator>
		<settings>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>
