<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev">
<add name="eBookingDB_SELECT_1" connectionString="Data Source=devdb.dev.sh.ctriptravel.com,28747;UID=uws_AllInOneKey_dev;password=!QAZ@WSX1qaz2wsx;database=eBookingDB;" providerName="System.Sql.SqlClient"/>
<add name="mysqldbatestshard01db_w" connectionString="Server=10.2.74.111;port=55111;UID=tt_daltest1_2;password=k4AvZUIdDAcbyUvLirWG;database=mysqldaltest01db;" providerName="Arch.Data.MySqlProvider"/>
<add name="DalService2DB_W_1" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_2" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_3" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_4" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_5" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_6" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_7" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_8" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_9" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_10" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_11" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService2DB_W_12" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
<add name="DalService3DB_W" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_crossshardbymod_1;" providerName="System.Data.SqlClient"/>
<add name="DalService3DB_W_2" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_crossshardbymod_1;" providerName="System.Data.SqlClient"/>
<add name="CrossShardByModByMySql_2" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_crossshardbymod_1;" providerName="System.Data.SqlClient"/>
<add name="daltestdb" connectionString="Server=10.5.110.162,1433;UID=sa;password=12qwaszx!@QWASZX;database=daltestdb;" providerName="System.Data.SqlClient"/>
<add name="DalServiceDB" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=llj;" providerName="System.Data.SqlClient"/>
<add name="DalService1DB" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=llj_SimpleShardBySqlServerMod_1;" providerName="System.Data.SqlClient"/>
<add name="ibuhotelmultilangdb_W" connectionString="Server=pub.mysql.db.dev.sh.ctripcorp.com;port=28747;UID=uws_dbticket;password=kgd8v5CenyoMjtg1uwzj;database=ibuhotelmultilangdb;" providerName="Arch.Data.MySqlProvider"/>
</connectionStrings>
