<dal name="product">
    <databaseSets>
        <databaseSet name="HotelPubDB" provider="sqlProvider">
            <add name="HotelPubDB_INSERT" databaseType="Master" sharding="" connectionString="HotelPubDB_INSERT_2"/>
            <add name="HotelPubDB_SELECT" databaseType="Slave" sharding="" connectionString="HotelPubDB_SELECT_2"/>
        </databaseSet>
        <databaseSet name="HotelInputDB" provider="sqlProvider">
            <add name="HotelInputDB_INSERT_1" databaseType="Master" sharding="" connectionString="HotelInputDB_INSERT_1"/>
        </databaseSet>
        <databaseSet name="HtlProductPropertyDB" provider="sqlProvider">
            <add name="HtlProductPropertyDB" databaseType="Master" sharding="" connectionString="HtlProductPropertyDB"/>
        </databaseSet>
        <databaseSet name="htlroompricebakdb" provider="mySqlProvider">
            <add name="HtlRoompriceBakDB_W" databaseType="Master" sharding="" connectionString="HtlRoompriceBakDB_W"/>
        </databaseSet>
        <databaseSet name="htlproductroomdb" provider="mySqlProvider">
            <add name="HtlProductRoomDB_W" databaseType="Master" sharding="" connectionString="HtlProductRoomDB_W"/>
        </databaseSet>
        <databaseSet name="HtlInputMsgQueueDB" provider="mySqlProvider">
            <add name="HtlInputMsgQueueDB_W" databaseType="Master" sharding="" connectionString="HtlInputMsgQueueDB_W"/>
        </databaseSet>
        <databaseSet name="htlroompricebakdb" provider="mySqlProvider">
            <add name="HtlRoompriceBakDB_W" databaseType="Master" sharding="" connectionString="HtlRoompriceBakDB_W"/>
        </databaseSet>
        <databaseSet name="Htlovspubmshard" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true;shardByTable=true;shardedTables=roomstatusinfomultiday,roompriceinfomultiday,roomreserveinfomultiday,laddercutpolicy">
            <add name="htlovspubmshard64db_w" databaseType="Master" sharding="0" connectionString="htlovspubmShard64db_W"/>
            <add name="htlovspubmshard01db_w" databaseType="Master" sharding="1" connectionString="htlovspubmShard01db_W"/>
            <add name="htlovspubmshard02db_w" databaseType="Master" sharding="2" connectionString="htlovspubmShard02db_W"/>
            <add name="htlovspubmshard03db_w" databaseType="Master" sharding="3" connectionString="htlovspubmShard03db_W"/>
            <add name="htlovspubmshard04db_w" databaseType="Master" sharding="4" connectionString="htlovspubmShard04db_W"/>
            <add name="htlovspubmshard05db_w" databaseType="Master" sharding="5" connectionString="htlovspubmShard05db_W"/>
            <add name="htlovspubmshard06db_w" databaseType="Master" sharding="6" connectionString="htlovspubmShard06db_W"/>
            <add name="htlovspubmshard07db_w" databaseType="Master" sharding="7" connectionString="htlovspubmShard07db_W"/>
            <add name="htlovspubmshard08db_w" databaseType="Master" sharding="8" connectionString="htlovspubmShard08db_W"/>
            <add name="htlovspubmshard09db_w" databaseType="Master" sharding="9" connectionString="htlovspubmShard09db_W"/>
            <add name="htlovspubmshard10db_w" databaseType="Master" sharding="10" connectionString="htlovspubmShard10db_W"/>
            <add name="htlovspubmshard11db_w" databaseType="Master" sharding="11" connectionString="htlovspubmShard11db_W"/>
            <add name="htlovspubmshard12db_w" databaseType="Master" sharding="12" connectionString="htlovspubmShard12db_W"/>
            <add name="htlovspubmshard13db_w" databaseType="Master" sharding="13" connectionString="htlovspubmShard13db_W"/>
            <add name="htlovspubmshard14db_w" databaseType="Master" sharding="14" connectionString="htlovspubmShard14db_W"/>
            <add name="htlovspubmshard15db_w" databaseType="Master" sharding="15" connectionString="htlovspubmShard15db_W"/>
            <add name="htlovspubmshard16db_w" databaseType="Master" sharding="16" connectionString="htlovspubmShard16db_W"/>
            <add name="htlovspubmshard17db_w" databaseType="Master" sharding="17" connectionString="htlovspubmShard17db_W"/>
            <add name="htlovspubmshard18db_w" databaseType="Master" sharding="18" connectionString="htlovspubmShard18db_W"/>
            <add name="htlovspubmshard19db_w" databaseType="Master" sharding="19" connectionString="htlovspubmShard19db_W"/>
            <add name="htlovspubmshard20db_w" databaseType="Master" sharding="20" connectionString="htlovspubmShard20db_W"/>
            <add name="htlovspubmshard21db_w" databaseType="Master" sharding="21" connectionString="htlovspubmShard21db_W"/>
            <add name="htlovspubmshard22db_w" databaseType="Master" sharding="22" connectionString="htlovspubmShard22db_W"/>
            <add name="htlovspubmshard23db_w" databaseType="Master" sharding="23" connectionString="htlovspubmShard23db_W"/>
            <add name="htlovspubmshard24db_w" databaseType="Master" sharding="24" connectionString="htlovspubmShard24db_W"/>
            <add name="htlovspubmshard25db_w" databaseType="Master" sharding="25" connectionString="htlovspubmShard25db_W"/>
            <add name="htlovspubmshard26db_w" databaseType="Master" sharding="26" connectionString="htlovspubmShard26db_W"/>
            <add name="htlovspubmshard27db_w" databaseType="Master" sharding="27" connectionString="htlovspubmShard27db_W"/>
            <add name="htlovspubmshard28db_w" databaseType="Master" sharding="28" connectionString="htlovspubmShard28db_W"/>
            <add name="htlovspubmshard29db_w" databaseType="Master" sharding="29" connectionString="htlovspubmShard29db_W"/>
            <add name="htlovspubmshard30db_w" databaseType="Master" sharding="30" connectionString="htlovspubmShard30db_W"/>
            <add name="htlovspubmshard31db_w" databaseType="Master" sharding="31" connectionString="htlovspubmShard31db_W"/>
            <add name="htlovspubmshard32db_w" databaseType="Master" sharding="32" connectionString="htlovspubmShard32db_W"/>
            <add name="htlovspubmshard33db_w" databaseType="Master" sharding="33" connectionString="htlovspubmShard33db_W"/>
            <add name="htlovspubmshard34db_w" databaseType="Master" sharding="34" connectionString="htlovspubmShard34db_W"/>
            <add name="htlovspubmshard35db_w" databaseType="Master" sharding="35" connectionString="htlovspubmShard35db_W"/>
            <add name="htlovspubmshard36db_w" databaseType="Master" sharding="36" connectionString="htlovspubmShard36db_W"/>
            <add name="htlovspubmshard37db_w" databaseType="Master" sharding="37" connectionString="htlovspubmShard37db_W"/>
            <add name="htlovspubmshard38db_w" databaseType="Master" sharding="38" connectionString="htlovspubmShard38db_W"/>
            <add name="htlovspubmshard39db_w" databaseType="Master" sharding="39" connectionString="htlovspubmShard39db_W"/>
            <add name="htlovspubmshard40db_w" databaseType="Master" sharding="40" connectionString="htlovspubmShard40db_W"/>
            <add name="htlovspubmshard41db_w" databaseType="Master" sharding="41" connectionString="htlovspubmShard41db_W"/>
            <add name="htlovspubmshard42db_w" databaseType="Master" sharding="42" connectionString="htlovspubmShard42db_W"/>
            <add name="htlovspubmshard43db_w" databaseType="Master" sharding="43" connectionString="htlovspubmShard43db_W"/>
            <add name="htlovspubmshard44db_w" databaseType="Master" sharding="44" connectionString="htlovspubmShard44db_W"/>
            <add name="htlovspubmshard45db_w" databaseType="Master" sharding="45" connectionString="htlovspubmShard45db_W"/>
            <add name="htlovspubmshard46db_w" databaseType="Master" sharding="46" connectionString="htlovspubmShard46db_W"/>
            <add name="htlovspubmshard47db_w" databaseType="Master" sharding="47" connectionString="htlovspubmShard47db_W"/>
            <add name="htlovspubmshard48db_w" databaseType="Master" sharding="48" connectionString="htlovspubmShard48db_W"/>
            <add name="htlovspubmshard49db_w" databaseType="Master" sharding="49" connectionString="htlovspubmShard49db_W"/>
            <add name="htlovspubmshard50db_w" databaseType="Master" sharding="50" connectionString="htlovspubmShard50db_W"/>
            <add name="htlovspubmshard51db_w" databaseType="Master" sharding="51" connectionString="htlovspubmShard51db_W"/>
            <add name="htlovspubmshard52db_w" databaseType="Master" sharding="52" connectionString="htlovspubmShard52db_W"/>
            <add name="htlovspubmshard53db_w" databaseType="Master" sharding="53" connectionString="htlovspubmShard53db_W"/>
            <add name="htlovspubmshard54db_w" databaseType="Master" sharding="54" connectionString="htlovspubmShard54db_W"/>
            <add name="htlovspubmshard55db_w" databaseType="Master" sharding="55" connectionString="htlovspubmShard55db_W"/>
            <add name="htlovspubmshard56db_w" databaseType="Master" sharding="56" connectionString="htlovspubmShard56db_W"/>
            <add name="htlovspubmshard57db_w" databaseType="Master" sharding="57" connectionString="htlovspubmShard57db_W"/>
            <add name="htlovspubmshard58db_w" databaseType="Master" sharding="58" connectionString="htlovspubmShard58db_W"/>
            <add name="htlovspubmshard59db_w" databaseType="Master" sharding="59" connectionString="htlovspubmShard59db_W"/>
            <add name="htlovspubmshard60db_w" databaseType="Master" sharding="60" connectionString="htlovspubmShard60db_W"/>
            <add name="htlovspubmshard61db_w" databaseType="Master" sharding="61" connectionString="htlovspubmShard61db_W"/>
            <add name="htlovspubmshard62db_w" databaseType="Master" sharding="62" connectionString="htlovspubmShard62db_W"/>
            <add name="htlovspubmshard63db_w" databaseType="Master" sharding="63" connectionString="htlovspubmShard63db_W"/>
        </databaseSet>
        <databaseSet name="htlovspubincsharddb" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=HotelId;mod=8;">
            <add name="htlovspubincshar08db_w" databaseType="Master" sharding="0" connectionString="htlovspubincshard08db_W"/>
            <add name="htlovspubincshar01db_w" databaseType="Master" sharding="1" connectionString="htlovspubincshard01db_W"/>
            <add name="htlovspubincshar02db_w" databaseType="Master" sharding="2" connectionString="htlovspubincshard02db_W"/>
            <add name="htlovspubincshar03db_w" databaseType="Master" sharding="3" connectionString="htlovspubincshard03db_W"/>
            <add name="htlovspubincshar04db_w" databaseType="Master" sharding="4" connectionString="htlovspubincshard04db_W"/>
            <add name="htlovspubincshar05db_w" databaseType="Master" sharding="5" connectionString="htlovspubincshard05db_W"/>
            <add name="htlovspubincshar06db_w" databaseType="Master" sharding="6" connectionString="htlovspubincshard06db_W"/>
            <add name="htlovspubincshar07db_w" databaseType="Master" sharding="7" connectionString="htlovspubincshard07db_W"/>
        </databaseSet>
        <databaseSet name="HtlRoomsPubDB" provider="sqlProvider">
            <add name="HtlRoomsPubDB_INSERT" databaseType="Master" sharding="" connectionString="HtlRoomsPubDB"/>
            <add name="HtlRoomsPubDB_SELECT" databaseType="Slave" sharding="" connectionString="HtlRoomsPubDB"/>
        </databaseSet>

        <databaseSet name="Htldomesticpubmshard" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true;shardByTable=true;shardedTables=roompriceinfomultiday">
            <add name="htldomesticpubmshard32db_W" databaseType="Master" sharding="0" connectionString="htldomesticpubmshard32db_W"/>
            <add name="htldomesticpubmshard01db_W" databaseType="Master" sharding="1" connectionString="htldomesticpubmshard01db_W"/>
            <add name="htldomesticpubmshard02db_W" databaseType="Master" sharding="2" connectionString="htldomesticpubmshard02db_W"/>
            <add name="htldomesticpubmshard03db_W" databaseType="Master" sharding="3" connectionString="htldomesticpubmshard03db_W"/>
            <add name="htldomesticpubmshard04db_W" databaseType="Master" sharding="4" connectionString="htldomesticpubmshard04db_W"/>
            <add name="htldomesticpubmshard05db_W" databaseType="Master" sharding="5" connectionString="htldomesticpubmshard05db_W"/>
            <add name="htldomesticpubmshard06db_W" databaseType="Master" sharding="6" connectionString="htldomesticpubmshard06db_W"/>
            <add name="htldomesticpubmshard07db_W" databaseType="Master" sharding="7" connectionString="htldomesticpubmshard07db_W"/>
            <add name="htldomesticpubmshard08db_W" databaseType="Master" sharding="8" connectionString="htldomesticpubmshard08db_W"/>
            <add name="htldomesticpubmshard09db_W" databaseType="Master" sharding="9" connectionString="htldomesticpubmshard09db_W"/>
            <add name="htldomesticpubmshard10db_W" databaseType="Master" sharding="10" connectionString="htldomesticpubmshard10db_W"/>
            <add name="htldomesticpubmshard11db_W" databaseType="Master" sharding="11" connectionString="htldomesticpubmshard11db_W"/>
            <add name="htldomesticpubmshard12db_W" databaseType="Master" sharding="12" connectionString="htldomesticpubmshard12db_W"/>
            <add name="htldomesticpubmshard13db_W" databaseType="Master" sharding="13" connectionString="htldomesticpubmshard13db_W"/>
            <add name="htldomesticpubmshard14db_W" databaseType="Master" sharding="14" connectionString="htldomesticpubmshard14db_W"/>
            <add name="htldomesticpubmshard15db_W" databaseType="Master" sharding="15" connectionString="htldomesticpubmshard15db_W"/>
            <add name="htldomesticpubmshard16db_W" databaseType="Master" sharding="16" connectionString="htldomesticpubmshard16db_W"/>
            <add name="htldomesticpubmshard17db_W" databaseType="Master" sharding="17" connectionString="htldomesticpubmshard17db_W"/>
            <add name="htldomesticpubmshard18db_W" databaseType="Master" sharding="18" connectionString="htldomesticpubmshard18db_W"/>
            <add name="htldomesticpubmshard19db_W" databaseType="Master" sharding="19" connectionString="htldomesticpubmshard19db_W"/>
            <add name="htldomesticpubmshard20db_W" databaseType="Master" sharding="20" connectionString="htldomesticpubmshard20db_W"/>
            <add name="htldomesticpubmshard21db_W" databaseType="Master" sharding="21" connectionString="htldomesticpubmshard21db_W"/>
            <add name="htldomesticpubmshard22db_W" databaseType="Master" sharding="22" connectionString="htldomesticpubmshard22db_W"/>
            <add name="htldomesticpubmshard23db_W" databaseType="Master" sharding="23" connectionString="htldomesticpubmshard23db_W"/>
            <add name="htldomesticpubmshard24db_W" databaseType="Master" sharding="24" connectionString="htldomesticpubmshard24db_W"/>
            <add name="htldomesticpubmshard25db_W" databaseType="Master" sharding="25" connectionString="htldomesticpubmshard25db_W"/>
            <add name="htldomesticpubmshard26db_W" databaseType="Master" sharding="26" connectionString="htldomesticpubmshard26db_W"/>
            <add name="htldomesticpubmshard27db_W" databaseType="Master" sharding="27" connectionString="htldomesticpubmshard27db_W"/>
            <add name="htldomesticpubmshard28db_W" databaseType="Master" sharding="28" connectionString="htldomesticpubmshard28db_W"/>
            <add name="htldomesticpubmshard29db_W" databaseType="Master" sharding="29" connectionString="htldomesticpubmshard29db_W"/>
            <add name="htldomesticpubmshard30db_W" databaseType="Master" sharding="30" connectionString="htldomesticpubmshard30db_W"/>
            <add name="htldomesticpubmshard31db_W" databaseType="Master" sharding="31" connectionString="htldomesticpubmshard31db_W"/>
        </databaseSet>



        <databaseSet name="Htlovspubshard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=hotel;mod=16;">
            <add name ="HtlOvsPubDB_S1_W" databaseType="Master" sharding="0" connectionString="HtlOvsPubDB_S1_W" />
            <add name ="HtlOvsPubDB_S2_W" databaseType="Master" sharding="1" connectionString="HtlOvsPubDB_S2_W" />
            <add name ="HtlOvsPubDB_S3_W" databaseType="Master" sharding="2" connectionString="HtlOvsPubDB_S3_W" />
            <add name ="HtlOvsPubDB_S4_W" databaseType="Master" sharding="3" connectionString="HtlOvsPubDB_S4_W" />
            <add name ="HtlOvsPubDB_S5_W" databaseType="Master" sharding="4" connectionString="HtlOvsPubDB_S5_W" />
            <add name ="HtlOvsPubDB_S6_W" databaseType="Master" sharding="5" connectionString="HtlOvsPubDB_S6_W" />
            <add name ="HtlOvsPubDB_S7_W" databaseType="Master" sharding="6" connectionString="HtlOvsPubDB_S7_W" />
            <add name ="HtlOvsPubDB_S8_W" databaseType="Master" sharding="7" connectionString="HtlOvsPubDB_S8_W" />
            <add name ="HtlOvsPubDB_S9_W" databaseType="Master" sharding="8" connectionString="HtlOvsPubDB_S9_W" />
            <add name ="HtlOvsPubDB_S10_W" databaseType="Master" sharding="9" connectionString="HtlOvsPubDB_S10_W" />
            <add name ="HtlOvsPubDB_S11_W" databaseType="Master" sharding="10" connectionString="HtlOvsPubDB_S11_W" />
            <add name ="HtlOvsPubDB_S12_W" databaseType="Master" sharding="11" connectionString="HtlOvsPubDB_S12_W" />
            <add name ="HtlOvsPubDB_S13_W" databaseType="Master" sharding="12" connectionString="HtlOvsPubDB_S13_W" />
            <add name ="HtlOvsPubDB_S14_W" databaseType="Master" sharding="13" connectionString="HtlOvsPubDB_S14_W" />
            <add name ="HtlOvsPubDB_S15_W" databaseType="Master" sharding="14" connectionString="HtlOvsPubDB_S15_W" />
            <add name ="HtlOvsPubDB_S16_W" databaseType="Master" sharding="15" connectionString="HtlOvsPubDB_S16_W" />
        </databaseSet>


        <databaseSet name="Htlroomspubshard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=hotelId;mod=32;">
            <add name ="HtlRoomsPubShard00DB_W" databaseType="Master" sharding="0" connectionString="HtlRoomsPubShard00DB_W" />
            <add name ="HtlRoomsPubShard01DB_W" databaseType="Master" sharding="1" connectionString="HtlRoomsPubShard01DB_W" />
            <add name ="HtlRoomsPubShard02DB_W" databaseType="Master" sharding="2" connectionString="HtlRoomsPubShard02DB_W" />
            <add name ="HtlRoomsPubShard03DB_W" databaseType="Master" sharding="3" connectionString="HtlRoomsPubShard03DB_W" />
            <add name ="HtlRoomsPubShard04DB_W" databaseType="Master" sharding="4" connectionString="HtlRoomsPubShard04DB_W" />
            <add name ="HtlRoomsPubShard05DB_W" databaseType="Master" sharding="5" connectionString="HtlRoomsPubShard05DB_W" />
            <add name ="HtlRoomsPubShard06DB_W" databaseType="Master" sharding="6" connectionString="HtlRoomsPubShard06DB_W" />
            <add name ="HtlRoomsPubShard07DB_W" databaseType="Master" sharding="7" connectionString="HtlRoomsPubShard07DB_W" />
            <add name ="HtlRoomsPubShard08DB_W" databaseType="Master" sharding="8" connectionString="HtlRoomsPubShard08DB_W" />
            <add name ="HtlRoomsPubShard09DB_W" databaseType="Master" sharding="9" connectionString="HtlRoomsPubShard09DB_W" />
            <add name ="HtlRoomsPubShard10DB_W" databaseType="Master" sharding="10" connectionString="HtlRoomsPubShard10DB_W" />
            <add name ="HtlRoomsPubShard11DB_W" databaseType="Master" sharding="11" connectionString="HtlRoomsPubShard11DB_W" />
            <add name ="HtlRoomsPubShard12DB_W" databaseType="Master" sharding="12" connectionString="HtlRoomsPubShard12DB_W" />
            <add name ="HtlRoomsPubShard13DB_W" databaseType="Master" sharding="13" connectionString="HtlRoomsPubShard13DB_W" />
            <add name ="HtlRoomsPubShard14DB_W" databaseType="Master" sharding="14" connectionString="HtlRoomsPubShard14DB_W" />
            <add name ="HtlRoomsPubShard15DB_W" databaseType="Master" sharding="15" connectionString="HtlRoomsPubShard15DB_W" />
            <add name ="HtlRoomsPubShard16DB_W" databaseType="Master" sharding="16" connectionString="HtlRoomsPubShard16DB_W" />
            <add name ="HtlRoomsPubShard17DB_W" databaseType="Master" sharding="17" connectionString="HtlRoomsPubShard17DB_W" />
            <add name ="HtlRoomsPubShard18DB_W" databaseType="Master" sharding="18" connectionString="HtlRoomsPubShard18DB_W" />
            <add name ="HtlRoomsPubShard19DB_W" databaseType="Master" sharding="19" connectionString="HtlRoomsPubShard19DB_W" />
            <add name ="HtlRoomsPubShard20DB_W" databaseType="Master" sharding="20" connectionString="HtlRoomsPubShard20DB_W" />
            <add name ="HtlRoomsPubShard21DB_W" databaseType="Master" sharding="21" connectionString="HtlRoomsPubShard21DB_W" />
            <add name ="HtlRoomsPubShard22DB_W" databaseType="Master" sharding="22" connectionString="HtlRoomsPubShard22DB_W" />
            <add name ="HtlRoomsPubShard23DB_W" databaseType="Master" sharding="23" connectionString="HtlRoomsPubShard23DB_W" />
            <add name ="HtlRoomsPubShard24DB_W" databaseType="Master" sharding="24" connectionString="HtlRoomsPubShard24DB_W" />
            <add name ="HtlRoomsPubShard25DB_W" databaseType="Master" sharding="25" connectionString="HtlRoomsPubShard25DB_W" />
            <add name ="HtlRoomsPubShard26DB_W" databaseType="Master" sharding="26" connectionString="HtlRoomsPubShard26DB_W" />
            <add name ="HtlRoomsPubShard27DB_W" databaseType="Master" sharding="27" connectionString="HtlRoomsPubShard27DB_W" />
            <add name ="HtlRoomsPubShard28DB_W" databaseType="Master" sharding="28" connectionString="HtlRoomsPubShard28DB_W" />
            <add name ="HtlRoomsPubShard29DB_W" databaseType="Master" sharding="29" connectionString="HtlRoomsPubShard29DB_W" />
            <add name ="HtlRoomsPubShard30DB_W" databaseType="Master" sharding="30" connectionString="HtlRoomsPubShard30DB_W" />
            <add name ="HtlRoomsPubShard31DB_W" databaseType="Master" sharding="31" connectionString="HtlRoomsPubShard31DB_W" />
        </databaseSet>
        <databaseSet name="HtlOverseasPubShardDB" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;column=HotelID;mod=128;">

            <add name ="HtlOverseasPubShard128DB" databaseType="Master" sharding="0" connectionString="HtlOverseasPubShard128DB" />
            <add name ="HtlOverseasPubShard01DB" databaseType="Master" sharding="1" connectionString="HtlOverseasPubShard01DB" />
            <add name ="HtlOverseasPubShard02DB" databaseType="Master" sharding="2" connectionString="HtlOverseasPubShard02DB" />
            <add name ="HtlOverseasPubShard03DB" databaseType="Master" sharding="3" connectionString="HtlOverseasPubShard03DB" />
            <add name ="HtlOverseasPubShard04DB" databaseType="Master" sharding="4" connectionString="HtlOverseasPubShard04DB" />
            <add name ="HtlOverseasPubShard05DB" databaseType="Master" sharding="5" connectionString="HtlOverseasPubShard05DB" />
            <add name ="HtlOverseasPubShard06DB" databaseType="Master" sharding="6" connectionString="HtlOverseasPubShard06DB" />
            <add name ="HtlOverseasPubShard07DB" databaseType="Master" sharding="7" connectionString="HtlOverseasPubShard07DB" />
            <add name ="HtlOverseasPubShard08DB" databaseType="Master" sharding="8" connectionString="HtlOverseasPubShard08DB" />
            <add name ="HtlOverseasPubShard09DB" databaseType="Master" sharding="9" connectionString="HtlOverseasPubShard09DB" />
            <add name ="HtlOverseasPubShard10DB" databaseType="Master" sharding="10" connectionString="HtlOverseasPubShard10DB" />
            <add name ="HtlOverseasPubShard11DB" databaseType="Master" sharding="11" connectionString="HtlOverseasPubShard11DB" />
            <add name ="HtlOverseasPubShard12DB" databaseType="Master" sharding="12" connectionString="HtlOverseasPubShard12DB" />
            <add name ="HtlOverseasPubShard13DB" databaseType="Master" sharding="13" connectionString="HtlOverseasPubShard13DB" />
            <add name ="HtlOverseasPubShard14DB" databaseType="Master" sharding="14" connectionString="HtlOverseasPubShard14DB" />
            <add name ="HtlOverseasPubShard15DB" databaseType="Master" sharding="15" connectionString="HtlOverseasPubShard15DB" />
            <add name ="HtlOverseasPubShard16DB" databaseType="Master" sharding="16" connectionString="HtlOverseasPubShard16DB" />
            <add name ="HtlOverseasPubShard17DB" databaseType="Master" sharding="17" connectionString="HtlOverseasPubShard17DB" />
            <add name ="HtlOverseasPubShard18DB" databaseType="Master" sharding="18" connectionString="HtlOverseasPubShard18DB" />
            <add name ="HtlOverseasPubShard19DB" databaseType="Master" sharding="19" connectionString="HtlOverseasPubShard19DB" />
            <add name ="HtlOverseasPubShard20DB" databaseType="Master" sharding="20" connectionString="HtlOverseasPubShard20DB" />
            <add name ="HtlOverseasPubShard21DB" databaseType="Master" sharding="21" connectionString="HtlOverseasPubShard21DB" />
            <add name ="HtlOverseasPubShard22DB" databaseType="Master" sharding="22" connectionString="HtlOverseasPubShard22DB" />
            <add name ="HtlOverseasPubShard23DB" databaseType="Master" sharding="23" connectionString="HtlOverseasPubShard23DB" />
            <add name ="HtlOverseasPubShard24DB" databaseType="Master" sharding="24" connectionString="HtlOverseasPubShard24DB" />
            <add name ="HtlOverseasPubShard25DB" databaseType="Master" sharding="25" connectionString="HtlOverseasPubShard25DB" />
            <add name ="HtlOverseasPubShard26DB" databaseType="Master" sharding="26" connectionString="HtlOverseasPubShard26DB" />
            <add name ="HtlOverseasPubShard27DB" databaseType="Master" sharding="27" connectionString="HtlOverseasPubShard27DB" />
            <add name ="HtlOverseasPubShard28DB" databaseType="Master" sharding="28" connectionString="HtlOverseasPubShard28DB" />
            <add name ="HtlOverseasPubShard29DB" databaseType="Master" sharding="29" connectionString="HtlOverseasPubShard29DB" />
            <add name ="HtlOverseasPubShard30DB" databaseType="Master" sharding="30" connectionString="HtlOverseasPubShard30DB" />
            <add name ="HtlOverseasPubShard31DB" databaseType="Master" sharding="31" connectionString="HtlOverseasPubShard31DB" />
            <add name ="HtlOverseasPubShard32DB" databaseType="Master" sharding="32" connectionString="HtlOverseasPubShard32DB" />
            <add name ="HtlOverseasPubShard33DB" databaseType="Master" sharding="33" connectionString="HtlOverseasPubShard33DB" />
            <add name ="HtlOverseasPubShard34DB" databaseType="Master" sharding="34" connectionString="HtlOverseasPubShard34DB" />
            <add name ="HtlOverseasPubShard35DB" databaseType="Master" sharding="35" connectionString="HtlOverseasPubShard35DB" />
            <add name ="HtlOverseasPubShard36DB" databaseType="Master" sharding="36" connectionString="HtlOverseasPubShard36DB" />
            <add name ="HtlOverseasPubShard37DB" databaseType="Master" sharding="37" connectionString="HtlOverseasPubShard37DB" />
            <add name ="HtlOverseasPubShard38DB" databaseType="Master" sharding="38" connectionString="HtlOverseasPubShard38DB" />
            <add name ="HtlOverseasPubShard39DB" databaseType="Master" sharding="39" connectionString="HtlOverseasPubShard39DB" />
            <add name ="HtlOverseasPubShard40DB" databaseType="Master" sharding="40" connectionString="HtlOverseasPubShard40DB" />
            <add name ="HtlOverseasPubShard41DB" databaseType="Master" sharding="41" connectionString="HtlOverseasPubShard41DB" />
            <add name ="HtlOverseasPubShard42DB" databaseType="Master" sharding="42" connectionString="HtlOverseasPubShard42DB" />
            <add name ="HtlOverseasPubShard43DB" databaseType="Master" sharding="43" connectionString="HtlOverseasPubShard43DB" />
            <add name ="HtlOverseasPubShard44DB" databaseType="Master" sharding="44" connectionString="HtlOverseasPubShard44DB" />
            <add name ="HtlOverseasPubShard45DB" databaseType="Master" sharding="45" connectionString="HtlOverseasPubShard45DB" />
            <add name ="HtlOverseasPubShard46DB" databaseType="Master" sharding="46" connectionString="HtlOverseasPubShard46DB" />
            <add name ="HtlOverseasPubShard47DB" databaseType="Master" sharding="47" connectionString="HtlOverseasPubShard47DB" />
            <add name ="HtlOverseasPubShard48DB" databaseType="Master" sharding="48" connectionString="HtlOverseasPubShard48DB" />
            <add name ="HtlOverseasPubShard49DB" databaseType="Master" sharding="49" connectionString="HtlOverseasPubShard49DB" />
            <add name ="HtlOverseasPubShard50DB" databaseType="Master" sharding="50" connectionString="HtlOverseasPubShard50DB" />
            <add name ="HtlOverseasPubShard51DB" databaseType="Master" sharding="51" connectionString="HtlOverseasPubShard51DB" />
            <add name ="HtlOverseasPubShard52DB" databaseType="Master" sharding="52" connectionString="HtlOverseasPubShard52DB" />
            <add name ="HtlOverseasPubShard53DB" databaseType="Master" sharding="53" connectionString="HtlOverseasPubShard53DB" />
            <add name ="HtlOverseasPubShard54DB" databaseType="Master" sharding="54" connectionString="HtlOverseasPubShard54DB" />
            <add name ="HtlOverseasPubShard55DB" databaseType="Master" sharding="55" connectionString="HtlOverseasPubShard55DB" />
            <add name ="HtlOverseasPubShard56DB" databaseType="Master" sharding="56" connectionString="HtlOverseasPubShard56DB" />
            <add name ="HtlOverseasPubShard57DB" databaseType="Master" sharding="57" connectionString="HtlOverseasPubShard57DB" />
            <add name ="HtlOverseasPubShard58DB" databaseType="Master" sharding="58" connectionString="HtlOverseasPubShard58DB" />
            <add name ="HtlOverseasPubShard59DB" databaseType="Master" sharding="59" connectionString="HtlOverseasPubShard59DB" />
            <add name ="HtlOverseasPubShard60DB" databaseType="Master" sharding="60" connectionString="HtlOverseasPubShard60DB" />
            <add name ="HtlOverseasPubShard61DB" databaseType="Master" sharding="61" connectionString="HtlOverseasPubShard61DB" />
            <add name ="HtlOverseasPubShard62DB" databaseType="Master" sharding="62" connectionString="HtlOverseasPubShard62DB" />
            <add name ="HtlOverseasPubShard63DB" databaseType="Master" sharding="63" connectionString="HtlOverseasPubShard63DB" />
            <add name ="HtlOverseasPubShard64DB" databaseType="Master" sharding="64" connectionString="HtlOverseasPubShard64DB" />
            <add name ="HtlOverseasPubShard65DB" databaseType="Master" sharding="65" connectionString="HtlOverseasPubShard65DB" />
            <add name ="HtlOverseasPubShard66DB" databaseType="Master" sharding="66" connectionString="HtlOverseasPubShard66DB" />
            <add name ="HtlOverseasPubShard67DB" databaseType="Master" sharding="67" connectionString="HtlOverseasPubShard67DB" />
            <add name ="HtlOverseasPubShard68DB" databaseType="Master" sharding="68" connectionString="HtlOverseasPubShard68DB" />
            <add name ="HtlOverseasPubShard69DB" databaseType="Master" sharding="69" connectionString="HtlOverseasPubShard69DB" />
            <add name ="HtlOverseasPubShard70DB" databaseType="Master" sharding="70" connectionString="HtlOverseasPubShard70DB" />
            <add name ="HtlOverseasPubShard71DB" databaseType="Master" sharding="71" connectionString="HtlOverseasPubShard71DB" />
            <add name ="HtlOverseasPubShard72DB" databaseType="Master" sharding="72" connectionString="HtlOverseasPubShard72DB" />
            <add name ="HtlOverseasPubShard73DB" databaseType="Master" sharding="73" connectionString="HtlOverseasPubShard73DB" />
            <add name ="HtlOverseasPubShard74DB" databaseType="Master" sharding="74" connectionString="HtlOverseasPubShard74DB" />
            <add name ="HtlOverseasPubShard75DB" databaseType="Master" sharding="75" connectionString="HtlOverseasPubShard75DB" />
            <add name ="HtlOverseasPubShard76DB" databaseType="Master" sharding="76" connectionString="HtlOverseasPubShard76DB" />
            <add name ="HtlOverseasPubShard77DB" databaseType="Master" sharding="77" connectionString="HtlOverseasPubShard77DB" />
            <add name ="HtlOverseasPubShard78DB" databaseType="Master" sharding="78" connectionString="HtlOverseasPubShard78DB" />
            <add name ="HtlOverseasPubShard79DB" databaseType="Master" sharding="79" connectionString="HtlOverseasPubShard79DB" />
            <add name ="HtlOverseasPubShard80DB" databaseType="Master" sharding="80" connectionString="HtlOverseasPubShard80DB" />
            <add name ="HtlOverseasPubShard81DB" databaseType="Master" sharding="81" connectionString="HtlOverseasPubShard81DB" />
            <add name ="HtlOverseasPubShard82DB" databaseType="Master" sharding="82" connectionString="HtlOverseasPubShard82DB" />
            <add name ="HtlOverseasPubShard83DB" databaseType="Master" sharding="83" connectionString="HtlOverseasPubShard83DB" />
            <add name ="HtlOverseasPubShard84DB" databaseType="Master" sharding="84" connectionString="HtlOverseasPubShard84DB" />
            <add name ="HtlOverseasPubShard85DB" databaseType="Master" sharding="85" connectionString="HtlOverseasPubShard85DB" />
            <add name ="HtlOverseasPubShard86DB" databaseType="Master" sharding="86" connectionString="HtlOverseasPubShard86DB" />
            <add name ="HtlOverseasPubShard87DB" databaseType="Master" sharding="87" connectionString="HtlOverseasPubShard87DB" />
            <add name ="HtlOverseasPubShard88DB" databaseType="Master" sharding="88" connectionString="HtlOverseasPubShard88DB" />
            <add name ="HtlOverseasPubShard89DB" databaseType="Master" sharding="89" connectionString="HtlOverseasPubShard89DB" />
            <add name ="HtlOverseasPubShard90DB" databaseType="Master" sharding="90" connectionString="HtlOverseasPubShard90DB" />
            <add name ="HtlOverseasPubShard91DB" databaseType="Master" sharding="91" connectionString="HtlOverseasPubShard91DB" />
            <add name ="HtlOverseasPubShard92DB" databaseType="Master" sharding="92" connectionString="HtlOverseasPubShard92DB" />
            <add name ="HtlOverseasPubShard93DB" databaseType="Master" sharding="93" connectionString="HtlOverseasPubShard93DB" />
            <add name ="HtlOverseasPubShard94DB" databaseType="Master" sharding="94" connectionString="HtlOverseasPubShard94DB" />
            <add name ="HtlOverseasPubShard95DB" databaseType="Master" sharding="95" connectionString="HtlOverseasPubShard95DB" />
            <add name ="HtlOverseasPubShard96DB" databaseType="Master" sharding="96" connectionString="HtlOverseasPubShard96DB" />
            <add name ="HtlOverseasPubShard97DB" databaseType="Master" sharding="97" connectionString="HtlOverseasPubShard97DB" />
            <add name ="HtlOverseasPubShard98DB" databaseType="Master" sharding="98" connectionString="HtlOverseasPubShard98DB" />
            <add name ="HtlOverseasPubShard99DB" databaseType="Master" sharding="99" connectionString="HtlOverseasPubShard99DB" />
            <add name ="HtlOverseasPubShard100DB" databaseType="Master" sharding="100" connectionString="HtlOverseasPubShard100DB" />
            <add name ="HtlOverseasPubShard101DB" databaseType="Master" sharding="101" connectionString="HtlOverseasPubShard101DB" />
            <add name ="HtlOverseasPubShard102DB" databaseType="Master" sharding="102" connectionString="HtlOverseasPubShard102DB" />
            <add name ="HtlOverseasPubShard103DB" databaseType="Master" sharding="103" connectionString="HtlOverseasPubShard103DB" />
            <add name ="HtlOverseasPubShard104DB" databaseType="Master" sharding="104" connectionString="HtlOverseasPubShard104DB" />
            <add name ="HtlOverseasPubShard105DB" databaseType="Master" sharding="105" connectionString="HtlOverseasPubShard105DB" />
            <add name ="HtlOverseasPubShard106DB" databaseType="Master" sharding="106" connectionString="HtlOverseasPubShard106DB" />
            <add name ="HtlOverseasPubShard107DB" databaseType="Master" sharding="107" connectionString="HtlOverseasPubShard107DB" />
            <add name ="HtlOverseasPubShard108DB" databaseType="Master" sharding="108" connectionString="HtlOverseasPubShard108DB" />
            <add name ="HtlOverseasPubShard109DB" databaseType="Master" sharding="109" connectionString="HtlOverseasPubShard109DB" />
            <add name ="HtlOverseasPubShard110DB" databaseType="Master" sharding="110" connectionString="HtlOverseasPubShard110DB" />
            <add name ="HtlOverseasPubShard111DB" databaseType="Master" sharding="111" connectionString="HtlOverseasPubShard111DB" />
            <add name ="HtlOverseasPubShard112DB" databaseType="Master" sharding="112" connectionString="HtlOverseasPubShard112DB" />
            <add name ="HtlOverseasPubShard113DB" databaseType="Master" sharding="113" connectionString="HtlOverseasPubShard113DB" />
            <add name ="HtlOverseasPubShard114DB" databaseType="Master" sharding="114" connectionString="HtlOverseasPubShard114DB" />
            <add name ="HtlOverseasPubShard115DB" databaseType="Master" sharding="115" connectionString="HtlOverseasPubShard115DB" />
            <add name ="HtlOverseasPubShard116DB" databaseType="Master" sharding="116" connectionString="HtlOverseasPubShard116DB" />
            <add name ="HtlOverseasPubShard117DB" databaseType="Master" sharding="117" connectionString="HtlOverseasPubShard117DB" />
            <add name ="HtlOverseasPubShard118DB" databaseType="Master" sharding="118" connectionString="HtlOverseasPubShard118DB" />
            <add name ="HtlOverseasPubShard119DB" databaseType="Master" sharding="119" connectionString="HtlOverseasPubShard119DB" />
            <add name ="HtlOverseasPubShard120DB" databaseType="Master" sharding="120" connectionString="HtlOverseasPubShard120DB" />
            <add name ="HtlOverseasPubShard121DB" databaseType="Master" sharding="121" connectionString="HtlOverseasPubShard121DB" />
            <add name ="HtlOverseasPubShard122DB" databaseType="Master" sharding="122" connectionString="HtlOverseasPubShard122DB" />
            <add name ="HtlOverseasPubShard123DB" databaseType="Master" sharding="123" connectionString="HtlOverseasPubShard123DB" />
            <add name ="HtlOverseasPubShard124DB" databaseType="Master" sharding="124" connectionString="HtlOverseasPubShard124DB" />
            <add name ="HtlOverseasPubShard125DB" databaseType="Master" sharding="125" connectionString="HtlOverseasPubShard125DB" />
            <add name ="HtlOverseasPubShard126DB" databaseType="Master" sharding="126" connectionString="HtlOverseasPubShard126DB" />
            <add name ="HtlOverseasPubShard127DB" databaseType="Master" sharding="127" connectionString="HtlOverseasPubShard127DB" />
        </databaseSet>
        <databaseSet name="HtlOrderShardDB" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true;">
            <add name ="HtlOrderShard01DB" databaseType="Master" sharding="1" connectionString="HtlOrderShard01DB_W" />
            <add name ="HtlOrderShard02DB" databaseType="Master" sharding="2" connectionString="HtlOrderShard02DB_W" />
            <add name ="HtlOrderShard03DB" databaseType="Master" sharding="3" connectionString="HtlOrderShard03DB_W" />
            <add name ="HtlOrderShard04DB" databaseType="Master" sharding="4" connectionString="HtlOrderShard04DB_W" />
            <add name ="HtlOrderShard05DB" databaseType="Master" sharding="5" connectionString="HtlOrderShard05DB_W" />
            <add name ="HtlOrderShard06DB" databaseType="Master" sharding="6" connectionString="HtlOrderShard06DB_W" />
            <add name ="HtlOrderShard07DB" databaseType="Master" sharding="7" connectionString="HtlOrderShard07DB_W" />
            <add name ="HtlOrderShard08DB" databaseType="Master" sharding="8" connectionString="HtlOrderShard08DB_W" />
            <add name ="HtlOrderShard09DB" databaseType="Master" sharding="9" connectionString="HtlOrderShard09DB_W" />
            <add name ="HtlOrderShard10DB" databaseType="Master" sharding="10" connectionString="HtlOrderShard10DB_W" />
            <add name ="HtlOrderShard11DB" databaseType="Master" sharding="11" connectionString="HtlOrderShard11DB_W" />
            <add name ="HtlOrderShard12DB" databaseType="Master" sharding="12" connectionString="HtlOrderShard12DB_W" />
            <add name ="HtlOrderShard13DB" databaseType="Master" sharding="13" connectionString="HtlOrderShard13DB_W" />
            <add name ="HtlOrderShard14DB" databaseType="Master" sharding="14" connectionString="HtlOrderShard14DB_W" />
            <add name ="HtlOrderShard15DB" databaseType="Master" sharding="15" connectionString="HtlOrderShard15DB_W" />
            <add name ="HtlOrderShard16DB" databaseType="Master" sharding="16" connectionString="HtlOrderShard16DB_W" />
            <add name ="HtlOrderShard17DB" databaseType="Master" sharding="17" connectionString="HtlOrderShard17DB_W" />
            <add name ="HtlOrderShard18DB" databaseType="Master" sharding="18" connectionString="HtlOrderShard18DB_W" />
            <add name ="HtlOrderShard19DB" databaseType="Master" sharding="19" connectionString="HtlOrderShard19DB_W" />
            <add name ="HtlOrderShard20DB" databaseType="Master" sharding="20" connectionString="HtlOrderShard20DB_W" />
            <add name ="HtlOrderShard21DB" databaseType="Master" sharding="21" connectionString="HtlOrderShard21DB_W" />
            <add name ="HtlOrderShard22DB" databaseType="Master" sharding="22" connectionString="HtlOrderShard22DB_W" />
            <add name ="HtlOrderShard23DB" databaseType="Master" sharding="23" connectionString="HtlOrderShard23DB_W" />
            <add name ="HtlOrderShard24DB" databaseType="Master" sharding="24" connectionString="HtlOrderShard24DB_W" />
            <add name ="HtlOrderShard25DB" databaseType="Master" sharding="25" connectionString="HtlOrderShard25DB_W" />
            <add name ="HtlOrderShard26DB" databaseType="Master" sharding="26" connectionString="HtlOrderShard26DB_W" />
            <add name ="HtlOrderShard27DB" databaseType="Master" sharding="27" connectionString="HtlOrderShard27DB_W" />
            <add name ="HtlOrderShard28DB" databaseType="Master" sharding="28" connectionString="HtlOrderShard28DB_W" />
            <add name ="HtlOrderShard29DB" databaseType="Master" sharding="29" connectionString="HtlOrderShard29DB_W" />
            <add name ="HtlOrderShard30DB" databaseType="Master" sharding="30" connectionString="HtlOrderShard30DB_W" />
            <add name ="HtlOrderShard31DB" databaseType="Master" sharding="31" connectionString="HtlOrderShard31DB_W" />
            <add name ="HtlOrderShard32DB" databaseType="Master" sharding="32" connectionString="HtlOrderShard32DB_W" />
            <add name ="HtlOrderShard33DB" databaseType="Master" sharding="33" connectionString="HtlOrderShard33DB_W" />
            <add name ="HtlOrderShard34DB" databaseType="Master" sharding="34" connectionString="HtlOrderShard34DB_W" />
            <add name ="HtlOrderShard35DB" databaseType="Master" sharding="35" connectionString="HtlOrderShard35DB_W" />
            <add name ="HtlOrderShard36DB" databaseType="Master" sharding="36" connectionString="HtlOrderShard36DB_W" />
            <add name ="HtlOrderShard37DB" databaseType="Master" sharding="37" connectionString="HtlOrderShard37DB_W" />
            <add name ="HtlOrderShard38DB" databaseType="Master" sharding="38" connectionString="HtlOrderShard38DB_W" />
            <add name ="HtlOrderShard39DB" databaseType="Master" sharding="39" connectionString="HtlOrderShard39DB_W" />
            <add name ="HtlOrderShard40DB" databaseType="Master" sharding="40" connectionString="HtlOrderShard40DB_W" />
            <add name ="HtlOrderShard41DB" databaseType="Master" sharding="41" connectionString="HtlOrderShard41DB_W" />
            <add name ="HtlOrderShard42DB" databaseType="Master" sharding="42" connectionString="HtlOrderShard42DB_W" />
            <add name ="HtlOrderShard43DB" databaseType="Master" sharding="43" connectionString="HtlOrderShard43DB_W" />
            <add name ="HtlOrderShard44DB" databaseType="Master" sharding="44" connectionString="HtlOrderShard44DB_W" />
            <add name ="HtlOrderShard45DB" databaseType="Master" sharding="45" connectionString="HtlOrderShard45DB_W" />
            <add name ="HtlOrderShard46DB" databaseType="Master" sharding="46" connectionString="HtlOrderShard46DB_W" />
            <add name ="HtlOrderShard47DB" databaseType="Master" sharding="47" connectionString="HtlOrderShard47DB_W" />
            <add name ="HtlOrderShard48DB" databaseType="Master" sharding="48" connectionString="HtlOrderShard48DB_W" />
            <add name ="HtlOrderShard49DB" databaseType="Master" sharding="49" connectionString="HtlOrderShard49DB_W" />
            <add name ="HtlOrderShard50DB" databaseType="Master" sharding="50" connectionString="HtlOrderShard50DB_W" />
            <add name ="HtlOrderShard51DB" databaseType="Master" sharding="51" connectionString="HtlOrderShard51DB_W" />
            <add name ="HtlOrderShard52DB" databaseType="Master" sharding="52" connectionString="HtlOrderShard52DB_W" />
            <add name ="HtlOrderShard53DB" databaseType="Master" sharding="53" connectionString="HtlOrderShard53DB_W" />
            <add name ="HtlOrderShard54DB" databaseType="Master" sharding="54" connectionString="HtlOrderShard54DB_W" />
            <add name ="HtlOrderShard55DB" databaseType="Master" sharding="55" connectionString="HtlOrderShard55DB_W" />
            <add name ="HtlOrderShard56DB" databaseType="Master" sharding="56" connectionString="HtlOrderShard56DB_W" />
            <add name ="HtlOrderShard57DB" databaseType="Master" sharding="57" connectionString="HtlOrderShard57DB_W" />
            <add name ="HtlOrderShard58DB" databaseType="Master" sharding="58" connectionString="HtlOrderShard58DB_W" />
            <add name ="HtlOrderShard59DB" databaseType="Master" sharding="59" connectionString="HtlOrderShard59DB_W" />
            <add name ="HtlOrderShard60DB" databaseType="Master" sharding="60" connectionString="HtlOrderShard60DB_W" />
            <add name ="HtlOrderShard61DB" databaseType="Master" sharding="61" connectionString="HtlOrderShard61DB_W" />
            <add name ="HtlOrderShard62DB" databaseType="Master" sharding="62" connectionString="HtlOrderShard62DB_W" />
            <add name ="HtlOrderShard63DB" databaseType="Master" sharding="63" connectionString="HtlOrderShard63DB_W" />
            <add name ="HtlOrderShard64DB" databaseType="Master" sharding="64" connectionString="HtlOrderShard64DB_W" />
        </databaseSet>

    </databaseSets>
    <LogListener>
        <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
    </LogListener>
    <ConnectionLocator>
        <settings>
            <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
        </settings>
    </ConnectionLocator>
    <TaskFactory>
        <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
    </TaskFactory>
</dal>
