<dal name="SimpleShardByDBOnMysql_java">
	<databaseSets>
	    <cluster name="dal_sharding_cluster"/>
		<databaseSet name="SimpleShardByTableOnMySql" provider="mySqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByTable=true;shardedTables=Person;separator=_">
            <add name="DB1" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="SimpleShardByDBTableOnMysql" provider="mySqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByTable=true;shardByDb=true;shardedTables=People;separator=_">
            <add name="DB2" databaseType="Master" sharding="1" connectionString="DalService3DB_W"/>
            <add name="DB3" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="SimpleShardByDBOnMysql" provider="mySqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true">
            <add name="DB4" databaseType="Master" sharding="1" connectionString="DalService3DB_W"/>
            <add name="DB5" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="ShardColModShardByTableOnMysql" provider="mySqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;tableColumn=age;tableMod=2;separator=_;shardedTables=Person">
            <add name="DB6" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="ShardColModShardByDBTableOnMysql" provider="mysqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;column=cityID;mod=2;tableColumn=age;tableMod=2;separator=_;shardedTables=People">
            <add name="DB7" databaseType="Master" sharding="1" connectionString="DalService3DB_W"/>
            <add name="DB8" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="testMasterOnlyOnMysql" provider="mySqlProvider">
            <add name="DB9" databaseType="Slave" sharding="" connectionString="DalService3DB_W"/>
            <add name="DB10" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="testDesignatedDatabaseOnMysql" provider="mySqlProvider">
            <add name="DB11" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
            <add name="DB12" databaseType="Master" sharding="" connectionString="DalService3DB_W"/>
        </databaseSet>
		<databaseSet name="noShardTestOnMysql" provider="mySqlProvider">
             <add name="DB13" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
		<databaseSet name="ShardColModShardByDBOnMysql" provider="mySqlProvider"
                     shardingStrategy=" class = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ;columns= age ;mod= 2 ;">
             <add name="DB14" databaseType="Master" sharding="1" connectionString="DalService3DB_W"/>
             <add name="DB15" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
        </databaseSet>
        <databaseSet name="FreeShardingStrategyByDBOnMysql" provider="mySqlProvider"
                             shardingStrategy=" class = dao.shard.newVersionCode.FreeShardingStrategyOnMysql ;columns= age ;mod= 2 ;">
             <add name="DB16" databaseType="Master" sharding="1" connectionString="DalService3DB_W"/>
             <add name="DB17" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
        </databaseSet>
        <databaseSet name="FreeShardingStrategyByDBTableOnMysql" provider="mysqlProvider"
                             shardingStrategy="class=dao.shard.newVersionCode.FreeShardingStrategyOnMysql;column=cityID;mod=2;tableColumn=age;tableMod=2;separator=_;shardedTables=People">
             <add name="DB18" databaseType="Master" sharding="1" connectionString="DalService3DB_W"/>
             <add name="DB19" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
        </databaseSet>
        <databaseSet name="FreeShardingStrategyByTableOnMysql" provider="mySqlProvider"
                             shardingStrategy="class=dao.shard.newVersionCode.FreeShardingStrategyOnMysql;tableColumn=age;tableMod=2;separator=_;shardedTables=Person">
             <add name="DB20" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
        <databaseSet name="RWShardOnMysql" provider="mySqlProvider"
                             shardingStrategy=" class = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ;columns= Age ;mod= 2 ;">
             <add name="DB21" databaseType="Master" sharding="0" connectionString="DalService2DB_W"/>
             <add name="DB22" databaseType="Slave" sharding="0" connectionString="DalService3DB_W"/>
             <add name="DB23" databaseType="Master" sharding="1" connectionString="DalService4DB_W"/>
             <add name="DB24" databaseType="Slave" sharding="1" connectionString="DalService5DB_W"/>
        </databaseSet>
        <databaseSet name="RWOnMysql" provider="mySqlProvider">
             <add name="DB25" databaseType="Master" sharding="" connectionString="DalService4DB_W"/>
             <add name="DB26" databaseType="Slave" sharding="" connectionString="DalService5DB_W"/>
             <add name="DB27" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
             <add name="DB28" databaseType="Slave" sharding="" connectionString="DalService3DB_W"/>
        </databaseSet>
        <databaseSet name="DRTest" provider="mySqlProvider">
             <add name="DB29" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
        <databaseSet name="ShardColModByDBTableOnSqlServer" provider="sqlProvider"
                                     shardingStrategy="  class  = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ; column= CityId ;mod= 2; tableColumn = provinceID ; tableMod = 2; separator= _ ;shardedTables = people">
             <add name="DB30" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
             <add name="DB31" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
        </databaseSet>
        <databaseSet name="FreeShardingStrategyByDBTableOnSqlServer" provider="sqlProvider"
                                             shardingStrategy="  class  = dao.shard.newVersionCode.FreeShardingStrategyOnSqlServer ; column= cityID ;mod= 2; tableColumn = provinceID ; tableMod = 2; separator= _ ;shardedTables = people">
             <add name="DB32" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
             <add name="DB33" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
        </databaseSet>
        <databaseSet name="SimpleShardByDBOnSqlServer" provider="sqlProvider"
                                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true">
             <add name="DB34" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
             <add name="DB35" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
        </databaseSet>
        <databaseSet name="testMaterOnlyOnSqlServer" provider="sqlProvider">
             <add name="DB36" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
             <add name="DB37" databaseType="Slave" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
        <databaseSet name="testDesignatedDatabaseOnSqlServer" provider="sqlProvider">
             <add name="DB38" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
             <add name="DB39" databaseType="Master" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
        <databaseSet name="noShardTestOnSqlServer" provider="sqlProvider">
             <add name="DB40" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="ShardColModShardByDBOnSqlServer" provider="sqlprovider"
                                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;column=cityID;mod=2;">
             <add name="DB41" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
             <add name="DB42" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="FreeShardingStrategyByDBOnSqlServer" provider="sqlprovider"
                                             shardingStrategy="class=dao.shard.newVersionCode.FreeShardingStrategyOnSqlServer;column=cityID;mod=2;">
             <add name="DB43" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
             <add name="DB44" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="RWShardOnSqlServer" provider="sqlProvider"
                                             shardingStrategy=" class = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ;columns= cityID ;mod= 2 ;">
             <add name="DB47" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
             <add name="DB48" databaseType="Slave" sharding="0" connectionString="DalService1DB"/>
             <add name="DB49" databaseType="Master" sharding="1" connectionString="DalService2DB"/>
             <add name="DB50" databaseType="Slave" sharding="1" connectionString="DalService3DB"/>
        </databaseSet>
        <databaseSet name="RWOnSqlServer" provider="sqlProvider">
             <add name="DB51" databaseType="Master" sharding="" connectionString="DalService2DB"/>
             <add name="DB52" databaseType="Slave" sharding="" connectionString="DalService3DB"/>
             <add name="DB53" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
             <add name="DB54" databaseType="Slave" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
	</databaseSets>
	<LogListener enabled="true">
  	  <!--<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>-->
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
  </LogListener>
	<ConnectionLocator>
		<settings>
		    <!--<useLocalConfig>true</useLocalConfig>
		    <databaseConfigLocation>$classpath</databaseConfigLocation>-->
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
		<settings>
        <callSpbyName>true</callSpbyName>
        </settings>
	</TaskFactory>
	<DatabaseSelector>
        <selector>com.ctrip.platform.dal.dao.configure.FreshnessDatabaseSelector</selector>
    </DatabaseSelector>
</dal>