<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev">
	<add name="mysqldaltest01db_W_111" connectionString="Server=10.2.74.111;port=55111;UID=tt_daltest1_2;password=k4AvZUIdDAcbyUvLirWG;database=mysqldaltest01db;" providerName="Arch.Data.MySqlProvider"/>
    <add name="mysqldaltest01db_W_122" connectionString="Server=10.2.74.122;port=55111;UID=tt_daltest1_2;password=k4AvZUIdDAcbyUvLirWG;database=mysqldaltest01db;" providerName="Arch.Data.MySqlProvider"/>
    <add name="mysqldaltest01db_W" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="mysqldaltest02db_W" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalServiceDB" connectionString="Data Source=10.32.20.128,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=llj;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_1" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_2" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_3" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_4" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_5" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_6" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_7" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_8" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_9" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_10" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_11" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService2DB_W_12" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_test;" providerName="System.Data.SqlClient"/>
    <add name="DalService3DB_W_1" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_crossshardbymod_1;" providerName="System.Data.SqlClient"/>
    <add name="DalService3DB_W_2" connectionString="Server=10.32.20.128;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=llj_crossshardbymod_1;" providerName="System.Data.SqlClient"/>
</connectionStrings>