<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev"> 
	<add name="daltestS0db" connectionString="Data Source=devdb.dev.sh.ctriptravel.com,28747;UID=uws_AllInOneKey_dev;password=!QAZ@WSX1qaz2wsx;database=daltestS0db;" providerName="System.Sql.SqlClient"/>
	<add name="daltestS1db" connectionString="Data Source=devdb.dev.sh.ctriptravel.com,28747;UID=uws_AllInOneKey_dev;password=!QAZ@WSX1qaz2wsx;database=daltestS1db;" providerName="System.Sql.SqlClient"/>
	<add name="MultiThreadingTest" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=HotelPubDB" providerName="System.Data.SqlClient"/>
</connectionStrings>