<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="appName">idgen-client</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
        </Console>
        <Async name="Async" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Async>
        <CatAppender name="Cat"/>
    </Appenders>
    <Loggers>
        <Logger name="com.ctrip.framework.idgen" additivity="false" level="INFO">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Cat"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Cat"/>
        </Root>
    </Loggers>
</Configuration>
