<dal name="SimpleShardByDBOnSqlServer_java">
	<databaseSets>
		<databaseSet name="noShardTestOnSqlServer" provider="sqlProvider">
             <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="ShardColModShardByDBOnSqlServer" provider="sqlprovider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;column=cityID;mod=2;">
             <add name="DalService1DB" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
             <add name="DalServiceDB" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
        </databaseSet>
	</databaseSets>
	<LogListener enabled="true">
  	  <!--<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>-->
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
      <settings>
        <encrypt>true</encrypt>
        <secretKey>dalctripcn</secretKey>
        <simplified>true</simplified>
        <sampling>true</sampling>
        <samplingLow>2</samplingLow>
	  	<samplingHigh>1</samplingHigh>
	  	<sampleMaxNum>5000</sampleMaxNum>
	  	<sampleClearInterval>30</sampleClearInterval>
        <asyncLogging>false</asyncLogging>
      </settings>
  </LogListener>
	<ConnectionLocator>
		<settings>
		    <databaseConfigLocation>$classpath</databaseConfigLocation>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
		<settings>
		<!--<callSpbySqlServerSyntax>false</callSpbySqlServerSyntax>-->
        <callSpbyName>true</callSpbyName>
        <callSpt>true</callSpt>
        </settings>
	</TaskFactory>
	<DatabaseSelector>
        <selector>com.ctrip.platform.dal.dao.configure.FreshnessDatabaseSelector</selector>
    </DatabaseSelector>
</dal>