<dal name="SimpleShardByDBOnMysql_java">
	<databaseSets>
	    <databaseSet name="shardSwitchTestOnMysql" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true">
                    <add name="mysqldaltest01db_W" databaseType="Master" sharding="0" connectionString="mysqldaltest01db_W"/>
                    <add name="mysqldaltest02db_W" databaseType="Master" sharding="1" connectionString="mysqldaltest02db_W"/>
        </databaseSet>
        <databaseSet name="noShardSwitchTestOnMysql" provider="mySqlProvider">
                    <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W"/>
        </databaseSet>
        <databaseSet name="noShardSwitchTestOnSqlServer" provider="sqlProvider">
                    <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <!--<databaseSet name="noShardTestOnMysql" provider="mySqlProvider">
                     <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W"/>
                     <add name="mysqldaltest01db_R" databaseType="Slave" sharding="" connectionString="mysqldaltest01db_R"/>
        </databaseSet>-->
	</databaseSets>
	<LogListener enabled="true">
  	  <!--<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>-->
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
       <settings>
              <encrypt>true</encrypt>
              <simplified>true</simplified>
       </settings>
  </LogListener>
	<ConnectionLocator>
		<settings>
		    <!--<useLocalConfig>true</useLocalConfig>-->
		    <databaseConfigLocation>$classpath</databaseConfigLocation>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>