<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="dao_test" provider="mySqlProvider">
      <add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
      <!--add  name="dao_test_S" databaseType="Slave" sharding="" connectionString="dao_test"/-->
    </databaseSet>
    <databaseSet name="HtlOvsPubDB_INSERT_1" provider="sqlProvider">
      <add  name="HtlOvsPubDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/>
      <!--add  name="HtlOvsPubDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/-->
    </databaseSet>
    <databaseSet name="HotelPubDB" provider="sqlProvider">
      <add  name="HotelPubDB_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S1" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S2" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S3" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
  </databaseSets>
</dal>
