<dal name="dal.prize.test">
  <databaseSets>
	<databaseSet name="manytypes" provider="sqlProvider">
        <add name="HotelPubDB" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>   
	</databaseSet>
    <databaseSet name="dao_test" provider="mySqlProvider">
      <add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
      <!--add  name="dao_test_S" databaseType="Slave" sharding="" connectionString="dao_test"/-->
    </databaseSet>
    <databaseSet name="HtlOvsPubDB_INSERT_1" provider="sqlProvider">
      <add  name="HtlOvsPubDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/>
      <!--add  name="HtlOvsPubDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/-->
    </databaseSet>
    <databaseSet name="HotelPubDB" provider="sqlProvider">
      <add  name="HotelPubDB_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S1" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S2" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S3" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_sqlsvr" provider="sqlProvider" shardingStrategy="" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql" provider="sqlProvider" shardingStrategy="" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test_mod" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=id;mod=2" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_sqlsvr_S" databaseType="Slave" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="1" connectionString="dao_test"/>
      <add  name="dao_test_mysql_S" databaseType="Slave" sharding="1" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test_simple" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="1" connectionString="dao_test"/>
    </databaseSet> 
	<databaseSet name="DAL_TEST" provider="sqlProvider">
        <add name="DAL_TEST" databaseType="Master" sharding="" connectionString="dal_test_new"/>   
	</databaseSet>
	<databaseSet name="DB_TABLE_SHARD" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=id;mod=2;tableColumns=index;tableMod=4;separator=_">
      <add name="dal_test_new" databaseType="Master" sharding="0" connectionString="dal_test_new"/>   
      <add name="dao_test" databaseType="Master" sharding="1" connectionString="dao_test"/>
	</databaseSet>
  </databaseSets>
</dal>
