<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="HtlOvsPubDB_SELECT_1" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="HtlOvsPubDB_SELECT_1_M" databaseType="Master" sharding="" connectionString="HtlOvsPubDB_SELECT_1"/>
      <!--add  name="HtlOvsPubDB_SELECT_1_S" databaseType="Slave" sharding="" connectionString="HtlOvsPubDB_SELECT_1"/-->
    </databaseSet>
    <databaseSet name="HtlReplDB_INSERT_1" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="HtlReplDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="HtlReplDB_INSERT_1"/>
      <!--add  name="HtlReplDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="HtlReplDB_INSERT_1"/-->
    </databaseSet>
    <databaseSet name="AbacusDB_INSERT_1" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=city_id,user_id;mod=4" >
      <add  name="AbacusDB_INSERT_1_M1" databaseType="Master" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S11" databaseType="Slave" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S12" databaseType="Slave" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S13" databaseType="Slave" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_M2" databaseType="Master" sharding="2" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S2" databaseType="Slave" sharding="2" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_M3" databaseType="Master" sharding="3" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S3" databaseType="Slave" sharding="3" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_M4" databaseType="Master" sharding="0" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S4" databaseType="Slave" sharding="0" connectionString="AbacusDB_INSERT_1"/>
    </databaseSet>
    <databaseSet name="HtlOvsPubDB_INSERT_1" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="HtlOvsPubDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/>
      <!--add  name="HtlOvsPubDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/-->
    </databaseSet>
  </databaseSets>
</dal>