<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="dao_test_sqlsvr" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=city_id,user_id;mod=4" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
      <add  name="dao_test_mysql_M" databaseType="Slave" sharding="" connectionString="dao_test"/>
      <add  name="dao_test_sqlsvr_M" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="dao_test_mysql_M" databaseType="Slave" sharding="" connectionString="dao_test"/>

      <add  name="AbacusDB_INSERT_1_M1" databaseType="Master" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S11" databaseType="Slave" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S12" databaseType="Slave" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S13" databaseType="Slave" sharding="1" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_M2" databaseType="Master" sharding="2" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S2" databaseType="Slave" sharding="2" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_M3" databaseType="Master" sharding="3" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S3" databaseType="Slave" sharding="3" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_M4" databaseType="Master" sharding="0" connectionString="AbacusDB_INSERT_1"/>
      <add  name="AbacusDB_INSERT_1_S4" databaseType="Slave" sharding="0" connectionString="AbacusDB_INSERT_1"/>
    </databaseSet>
  </databaseSets>
</dal>