<dal name="dal.shard.test">
  <databaseSets>
    <databaseSet name="dao_test_sqlsvr" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test" provider="sqlProvider" shardStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=id;mod=2" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_sqlsvr_S" databaseType="Slave" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="1" connectionString="dao_test"/>
      <add  name="dao_test_mysql_S" databaseType="Slave" sharding="1" connectionString="dao_test"/>
    </databaseSet>
  </databaseSets>
</dal>