<dal name="dal.prize.test">
  <databaseSets>
    <databaseSet name="AccProductDB_INSERT_2" provider="sqlProvider">
      <add  name="AccProductDB_INSERT_2_M" databaseType="Master" sharding="" connectionString="AccProductDB_INSERT_2"/>
      <!--add  name="AccProductDB_INSERT_2_S" databaseType="Slave" sharding="" connectionString="AccProductDB_INSERT_2"/-->
    </databaseSet>
    <databaseSet name="AbacusDB_INSERT_1" provider="sqlProvider">
      <add  name="AbacusDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="AbacusDB_INSERT_1"/>
      <!--add  name="AbacusDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="AbacusDB_INSERT_1"/-->
    </databaseSet>
    <databaseSet name="AccCorpDB_SELECT_1" provider="sqlProvider">
      <add  name="AccCorpDB_SELECT_1_M" databaseType="Master" sharding="" connectionString="AccCorpDB_SELECT_1"/>
      <!--add  name="AccCorpDB_SELECT_1_S" databaseType="Slave" sharding="" connectionString="AccCorpDB_SELECT_1"/-->
    </databaseSet>
    <databaseSet name="AccCorpDB_INSERT_1" provider="sqlProvider">
      <add  name="AccCorpDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="AccCorpDB_INSERT_1"/>
      <!--add  name="AccCorpDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="AccCorpDB_INSERT_1"/-->
    </databaseSet>
  </databaseSets>
</dal>
