<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctrip.framework.dal.demo.mapper.SqlServerAppMapper">
  <select id="queryByIdList" resultType="com.ctrip.framework.dal.demo.entity.App">
    select Id, AppId, Name, DataChange_CreatedBy, DataChange_CreatedTime, DataChange_LastModifiedBy, DataChange_LastTime
    from App (nolock)
    <where>
      <choose>
        <when test="idList != null and idList.size() > 0">
          id in
          <foreach collection="idList" open="(" close=")" separator="," item="id" index="i">
            #{id}
          </foreach>
        </when>
        <otherwise>
          1 = 2
        </otherwise>
      </choose>
    </where>
  </select>

  <insert id="insertApp" statementType="CALLABLE">
    DECLARE @current_date datetime
    select @current_date = GETDATE()

    exec spA_App_i
    @ID=#{id,mode=OUT,jdbcType=INTEGER},
    @AppId=#{appId}, @Name=#{name},
    <if test="datachangeCreatedby != null and datachangeCreatedby.length() > 0">
      @DataChange_CreatedBy=#{datachangeCreatedby},
    </if>
    @DataChange_CreatedTime=#{datachangeCreatedtime},
    @DataChange_CreatedTimeWithOffSet=#{datachangeCreatedtimewithoffset, typeHandler=com.ctrip.framework.dal.demo.DateTimeOffsetTypeHandler},
    <if test="datachangeLastmodifiedby != null and datachangeLastmodifiedby.length() > 0">
      @DataChange_LastModifiedBy=#{datachangeLastmodifiedby},
    </if>
    @DataChange_LastTime=@current_date
  </insert>

  <insert id="insertAppList" statementType="CALLABLE" parameterType="List">
    exec spT_App_i #{list, typeHandler=com.ctrip.framework.dal.demo.TVPTypeHandler}
  </insert>

  <update id="updateAppName" statementType="CALLABLE">
    exec spA_App_u
    @ID=#{id}, @Name=#{name}
  </update>

  <delete id="deleteAppById" statementType="CALLABLE">
    {call spA_App_d(#{id})}
  </delete>
</mapper>
