<dal name="SimpleShardByDBOnMysql_java">
    <databaseSets>
        <databaseSet name="noShardTestOnMysql" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_1"/>
            <idGenerator/>
        </databaseSet>
        <databaseSet name="testExistSequenceDbName" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_9"/>
            <idGenerator sequenceDbName="existDb"/>
        </databaseSet>
        <!--<databaseSet name="testExistSequenceDbName2" provider="mysqlProvider">
                     <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_9"/>
                     <idGenerator sequenceDbName="existDb"/>
        </databaseSet>-->
        <databaseSet name="testNonExistSequenceDbName" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_10"/>
            <idGenerator sequenceDbName="nonExistDb"/>
        </databaseSet>
        <databaseSet name="testPrefetchWithNoEntity" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_8"/>
            <idGenerator entityDbName="NonExistEntityDbName" entityPackage="IDAutoGenerator"/>
        </databaseSet>
        <databaseSet name="testPrefetchWithRegisteredDB" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_11"/>
            <idGenerator entityDbName="noShardTestOnMysql" entityPackage="IDAutoGenerator"/>
        </databaseSet>
        <databaseSet name="testPrefetchWithNonRegisteredDB" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_12"/>
            <idGenerator entityDbName="noShardTestOnMysql" entityPackage="IDAutoGenerator"/>
        </databaseSet>
        <databaseSet name="testExclude" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_2"/>
            <idGenerator>
                <excludes>
                    <exclude>
                        <tables>
                            <table>Person_0</table>
                            <table>person_1</table>
                        </tables>
                    </exclude>
                </excludes>
            </idGenerator>
        </databaseSet>
        <databaseSet name="testInclude" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_3"/>
            <idGenerator>
                <includes>
                    <include>
                        <tables>
                            <table>Person</table>
                            <table>idGenAi</table>
                        </tables>
                    </include>
                </includes>
            </idGenerator>
        </databaseSet>
        <databaseSet name="ShardColModShardByTableOnMysql" provider="mySqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;tableColumn=age;tableMod=2;separator=_;shardedTables=Person">
            <add name="DB6" databaseType="Master" sharding="" connectionString="DalService2DB_W_4"/>
            <idGenerator/>
        </databaseSet>
        <databaseSet name="ShardColModShardByDBOnMysql" provider="mySqlProvider"
                     shardingStrategy=" class = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ;columns= age ;mod= 2 ;">
            <add name="DB14" databaseType="Master" sharding="1" connectionString="DalService3DB_W_1"/>
            <add name="DB15" databaseType="Master" sharding="0" connectionString="DalService2DB_W_5"/>
            <idGenerator/>
        </databaseSet>
        <databaseSet name="SimpleShardByDBTableOnMysql" provider="mySqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByTable=true;shardByDb=true;shardedTables=Person;separator=_">
            <add name="DB2" databaseType="Master" sharding="1" connectionString="DalService3DB_W_2"/>
            <add name="DB3" databaseType="Master" sharding="0" connectionString="DalService2DB_W_6"/>
            <idGenerator/>
        </databaseSet>
        <databaseSet name="testSnowFlakeT" provider="mysqlProvider">
            <add name="DalService2DB_W" databaseType="Master" sharding="" connectionString="DalService2DB_W_7"/>
            <idGenerator/>
        </databaseSet>
        <!-- <databaseSet name="noShardTestOnSqlServer" provider="sqlProvider">
                     <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
                     <idGenerator/>
         </databaseSet>
         <databaseSet name="ShardColModShardByDBOnSqlServer" provider="sqlprovider"
                                                      shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;column=age;mod=2;">
                     <add name="DB41" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
                     <add name="DB42" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
                     <idGenerator/>
         </databaseSet>
         <databaseSet name="SimpleShardByDBTableOnSqlServer" provider="sqlProvider"
                                                      shardingStrategy="  class  = com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy ;shardByTable=true;shardByDb=true;shardedTables=Person;separator=_">
                      <add name="DB30" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
                      <add name="DB31" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
                      <idGenerator/>
         </databaseSet>
         <databaseSet name="ShardColModShardByTableOnSqlServer" provider="sqlProvider"
                          shardingStrategy="  class  = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ; tableColumn = age ; tableMod = 2; separator= _ ;shardedTables = person">
                      <add name="DB30" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
                      <idGenerator/>
         </databaseSet>-->
        <!--<databaseSet name="noShardTestOnMysql" provider="mysqlProvider">
                     <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>
        <databaseSet name="noShardTestOnMysql2" provider="mysqlProvider">
                     <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W"/>
        </databaseSet>
        <databaseSet name="noShardTestOnSqlServer" provider="sqlProvider">
                     <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="noShardTestOnSqlServer2" provider="sqlProvider">
                     <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="RWTestOnMysql" provider="mySqlProvider">
                     <add name="mysqldaltest01db_W" databaseType="Master" sharding="" connectionString="mysqldaltest01db_W"/>
                     <add name="mysqldaltest02db_W" databaseType="Slave" sharding="" connectionString="DalService2DB_W"/>
        </databaseSet>-->
    </databaseSets>
    <LogListener enabled="true">
        <!--<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>-->
        <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
        <settings>
            <encrypt>true</encrypt>
            <secretKey>dalctripcn</secretKey>
            <simplified>true</simplified>
            <sampling>false</sampling>
            <samplingLow>2</samplingLow>
            <samplingHigh>1</samplingHigh>
            <sampleMaxNum>5000</sampleMaxNum>
            <sampleClearInterval>30</sampleClearInterval>
            <asyncLogging>false</asyncLogging>
        </settings>
    </LogListener>
    <ConnectionLocator>
        <settings>
            <useLocalConfig>true</useLocalConfig>
            <databaseConfigLocation>$classpath</databaseConfigLocation>
            <dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
        </settings>
    </ConnectionLocator>
    <TaskFactory>
        <factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
        <settings>
                  <callSpt>true</callSpt>
        </settings>
    </TaskFactory>
    <!--<DatabaseSelector>
            <selector>com.ctrip.platform.dal.dao.configure.FreshnessDatabaseSelector</selector>
    </DatabaseSelector>-->
</dal>