<dal name="SimpleShardByDBOnSqlServer_java">
	<databaseSets>
		<databaseSet name="ShardColModByDBTableOnSqlServer" provider="sqlProvider"
                     shardingStrategy="  class  = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ; column= CityID ;mod= 2; tableColumn = ProvinceID ; tableMod = 2; separator= _ ;shardedTables = People">
            <add name="DalServiceDB" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
            <add name="DalService1DB" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
        </databaseSet>
		<databaseSet name="SimpleShardByDBOnSqlServer" provider="sqlProvider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true">
            <add name="DalServiceDB" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
            <add name="DalService1DB" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
        </databaseSet>
		<databaseSet name="testMaterOnlyOnSqlServer" provider="sqlProvider">
            <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
            <add name="DalService1DB" databaseType="Slave" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
		<databaseSet name="testDesignatedDatabaseOnSqlServer" provider="sqlProvider">
            <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
            <add name="DalService1DB" databaseType="Master" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
		<databaseSet name="noShardTestOnSqlServer" provider="sqlProvider">
             <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="ShardColModShardByDBOnSqlServer" provider="sqlprovider"
                     shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;column=CityID;mod=2;">
             <add name="DalService1DB" databaseType="Master" sharding="1" connectionString="DalService1DB"/>
             <add name="DalServiceDB" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
        </databaseSet>
        <databaseSet name="testDesignatedDatabaseOnSqlServer" provider="sqlProvider">
             <add name="DalServiceDB" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
             <add name="DalService1DB" databaseType="Master" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
        <databaseSet name="RWShardOnSqlServer" provider="sqlProvider"
                             shardingStrategy=" class = com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy ;columns= CityID ;mod= 2 ;">
             <add name="DalService2DB_W" databaseType="Master" sharding="0" connectionString="DalServiceDB"/>
             <add name="DalService0DB_W" databaseType="Slave" sharding="0" connectionString="DalService1DB"/>
             <add name="DalService3DB_W" databaseType="Master" sharding="1" connectionString="DalService2DB"/>
             <add name="DalService1DB_W" databaseType="Slave" sharding="1" connectionString="DalService3DB"/>
        </databaseSet>
        <databaseSet name="RWOnSqlServer" provider="sqlProvider">
             <add name="DalService4DB_W" databaseType="Master" sharding="" connectionString="DalService2DB"/>
             <add name="DalService5DB_W" databaseType="Slave" sharding="" connectionString="DalService3DB"/>
             <add name="DalService6DB_W" databaseType="Master" sharding="" connectionString="DalServiceDB"/>
             <add name="DalService7DB_W" databaseType="Slave" sharding="" connectionString="DalService1DB"/>
        </databaseSet>
	</databaseSets>
	<LogListener enabled="true">
  	  <!--<logger>com.ctrip.platform.dal.dao.client.DefaultLogger</logger>-->
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
      <settings>
        <encrypt>false</encrypt>
        <secretKey>dalctripcn</secretKey>
        <simplified>true</simplified>
        <sampling>true</sampling>
        <samplingLow>2</samplingLow>
	  	<samplingHigh>1</samplingHigh>
	  	<sampleMaxNum>5000</sampleMaxNum>
	  	<sampleClearInterval>30</sampleClearInterval>
        <asyncLogging>false</asyncLogging>
      </settings>
  </LogListener>
	<ConnectionLocator>
		<settings>
		    <databaseConfigLocation>$classpath</databaseConfigLocation>
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
		<settings>
		<!--<callSpbySqlServerSyntax>false</callSpbySqlServerSyntax>-->
        <callSpbyName>true</callSpbyName>
        <callSpt>true</callSpt>
        </settings>
	</TaskFactory>
	<DatabaseSelector>
        <selector>com.ctrip.platform.dal.dao.configure.FreshnessDatabaseSelector</selector>
    </DatabaseSelector>
</dal>