<?xml version="1.0" encoding="UTF-8" ?>
<Configuration packages="com.ctrip.framework.clogging.agent.appender">
    <Properties>
        <Property name="appName">db-cluster-service</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[${appName}][%d][%p][%t][%c] - %m%n"/>
        </Console>
        <Async name="Async" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Async>
        <!--收集到CAT/Clog-->
        <CatAppender name="Cat"/>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Cat"/>
        </Root>
    </Loggers>
</Configuration>