<dal name="dal.prize.test">
  <databaseSets>
	<databaseSet name="manytypes" provider="sqlProvider">
        <add name="HotelPubDB" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>   
	</databaseSet>
	 <databaseSet name="MultiThreadingTest" provider="sqlProvider">
        <add  name="MultiThreadingTest_M" databaseType="Master" sharding="" connectionString="MultiThreadingTest"/>
     </databaseSet>
    <databaseSet name="dao_test" provider="mySqlProvider">
      <add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
      <!--add  name="dao_test_S" databaseType="Slave" sharding="" connectionString="dao_test"/-->
    </databaseSet>
    <databaseSet name="HA_Test_0" provider="mySqlProvider">
      <add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test_1"/>
    </databaseSet>
    <databaseSet name="HA_Test" provider="mySqlProvider" shardingStrategy="">
    	<add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    	<add  name="dao_test_S1" databaseType="Slave" sharding="" connectionString="dao_test"/>
      	<add  name="dao_test_S2" databaseType="Slave" sharding="" connectionString="dao_test_1"/>
      	<add  name="dao_test_S3" databaseType="Slave" sharding="" connectionString="dao_test_2"/>
    </databaseSet>
      <databaseSet name="HA_Test_1" provider="mySqlProvider" shardingStrategy="">
    	<add  name="dao_test_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    	<add  name="dao_test_S1" databaseType="Slave" sharding="" connectionString="dao_test"/>
      	<add  name="dao_test_S2" databaseType="Slave" sharding="" connectionString="dao_test_1"/>
    </databaseSet>
    <databaseSet name="HtlOvsPubDB_INSERT_1" provider="sqlProvider">
      <add  name="HtlOvsPubDB_INSERT_1_M" databaseType="Master" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/>
      <!--add  name="HtlOvsPubDB_INSERT_1_S" databaseType="Slave" sharding="" connectionString="HtlOvsPubDB_INSERT_1"/-->
    </databaseSet>
    <databaseSet name="HotelPubDB" provider="sqlProvider">
      <add  name="HotelPubDB_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S1" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S2" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
      <add  name="HotelPubDB_S3" databaseType="Slave" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_sqlsvr" provider="sqlProvider" shardingStrategy="" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_sqlsvr1" provider="sqlProvider" shardingStrategy="" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="SimpleShard_0"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql" provider="mySqlProvider" shardingStrategy="" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql1" provider="mySqlProvider" shardingStrategy="" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dal_test_new"/>
    </databaseSet>
    <databaseSet name="dao_test_mod" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=id;mod=2" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_sqlsvr_S" databaseType="Slave" sharding="0" connectionString="HotelPubDB"/>
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="1" connectionString="SimpleShard_0"/>
      <add  name="dao_test_mysql_S" databaseType="Slave" sharding="1" connectionString="SimpleShard_0"/>
    </databaseSet>
    <databaseSet name="dao_test_mod_mysql" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=id;mod=2" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_sqlsvr_S" databaseType="Slave" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="1" connectionString="dal_test_new"/>
      <add  name="dao_test_mysql_S" databaseType="Slave" sharding="1" connectionString="dal_test_new"/>
    </databaseSet>
    <databaseSet name="dao_test_simple" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByDb=true" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="1" connectionString="dal_test_new"/>
    </databaseSet> 
	<databaseSet name="DAL_TEST" provider="sqlProvider">
        <add name="DAL_TEST" databaseType="Master" sharding="" connectionString="dal_test_new"/>   
	</databaseSet>
	<databaseSet name="DB_TABLE_SHARD" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=id;mod=2;tableColumns=index;tableMod=4;separator=_;shardedTables=dal_client_test">
      <add name="HotelPubDB" databaseType="Master" sharding="0" connectionString="HotelPubDB"/>   
      <add name="dao_test" databaseType="Master" sharding="1" connectionString="dao_test"/>
	</databaseSet>
    <databaseSet name="dao_test_sqlsvr_tableShard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;tableColumns=index,tableIndex;tableMod=4;separator=_;shardedTables=dal_client_test" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql_tableShard" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;tableColumns=index,tableIndex;tableMod=4;separator=_;shardedTables=dal_client_test" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test_sqlsvr_tableShard_simple" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByTable=true;shardedTables=dal_client_test" >
      <add  name="dao_test_sqlsvr_M" databaseType="Master" sharding="" connectionString="HotelPubDB"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql_tableShard_simple" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.SimpleShardHintStrategy;shardByTable=true;shardedTables=dal_client_test" >
      <add  name="dao_test_mysql_M" databaseType="Master" sharding="" connectionString="dao_test"/>
    </databaseSet>
    <databaseSet name="dao_test_sqlsvr_dbShard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=index,tableIndex;mod=2;">
      <add  name="dao_test_sqlsvr_dbShard_0" databaseType="Master" sharding="0" connectionString="SimpleShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_1" databaseType="Master" sharding="1" connectionString="SimpleShard_1"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql_dbShard" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=index,tableIndex;mod=2;">
      <add  name="dao_test_mysql_dbShard_0" databaseType="Master" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_mysql_dbShard_1" databaseType="Master" sharding="1" connectionString="dal_test_new"/>
    </databaseSet>
    <databaseSet name="dao_test_sqlsvr_dbTableShard" provider="sqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=index,dbIndex;mod=2;tableColumns=table,tableIndex;tableMod=4;separator=_;shardedTables=dal_client_test">
      <add  name="dao_test_sqlsvr_dbShard_0" databaseType="Master" sharding="0" connectionString="SimpleShard_0"/>
      <add  name="dao_test_sqlsvr_dbShard_1" databaseType="Master" sharding="1" connectionString="SimpleShard_1"/>
    </databaseSet>
    <databaseSet name="dao_test_mysql_dbTableShard" provider="mySqlProvider" shardingStrategy="class=com.ctrip.platform.dal.dao.strategy.ShardColModShardStrategy;columns=index,dbIndex;mod=2;tableColumns=table,tableIndex;tableMod=4;separator=_;shardedTables=dal_client_test">
      <add  name="dao_test_mysql_dbShard_0" databaseType="Master" sharding="0" connectionString="dao_test"/>
      <add  name="dao_test_mysql_dbShard_1" databaseType="Master" sharding="1" connectionString="dal_test_new"/>
    </databaseSet>
  </databaseSets>
  <LogListener enabled="true">
      <logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
      <settings>
        <encrypt>false</encrypt>
        <sampling>false</sampling>
        <simplified>true</simplified>
      </settings>
  </LogListener>
  <ConnectionLocator>
    <locator>com.ctrip.datasource.locator.CtripDalConnectionLocator</locator>
    <settings>
	  <testAttr>true</testAttr>
	</settings>
  </ConnectionLocator>
  
</dal>
