<connectionStrings>
<add name="daogen" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=daogen;" providerName="System.Data.SqlClient"/>
<add name="ha_test" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=ha_test;" providerName="System.Data.SqlClient"/>
<add name="ha_test_1" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=ha_test;" providerName="System.Data.SqlClient"/> 
<add name="ha_test_2" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=ha_test;" providerName="System.Data.SqlClient"/>
<add name="dao_test" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test;" providerName="System.Data.SqlClient"/>
<add name="dao_test_sqlsvr" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=daoTest;" providerName="System.Data.SqlClient"/>
<add name="dao_test_mysql" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=dao_test_mysql;" providerName="System.Data.SqlClient"/>
<add name="dal_test_new" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=DAL_TEST;" providerName="System.Data.SqlClient"/>
<add name="MySqlShard_0" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=Shard_0;" providerName="System.Data.SqlClient"/> 
<add name="MySqlShard_1" connectionString="Server=DST56614;port=3306;UID=root;password=!QAZ@WSX1qaz2wsx;database=Shard_1;" providerName="System.Data.SqlClient"/>
<add name="SqlSvrShard_0" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=Shard_0;" providerName="System.Data.SqlClient"/>
<add name="SqlSvrShard_1" connectionString="Data Source=DST56614,1433;UID=sa;password=!QAZ@WSX1qaz2wsx; database=Shard_1;" providerName="System.Data.SqlClient"/>
<add name="MultiThreadingTest" connectionString="Data Source=10.3.6.91,1433;UID=sa;password=abcdefgh_123;database=HotelPubDB;" providerName="System.Data.SqlClient"/>
<add name="AbacusDB_SEC" connectionString="aieav+rvoUNKFGHgj4QhYizWOL4MOabsXijw1hugKigjWQkmsltO0P7lUhwwfMFwoJGHiY4FBTBsW64TaducbKx+cFo8xNga6rPSD/yaCrY5QjV8+/m131RO7ztQ4JTBaQwmvhMDGRwRXLp//Jq9INwau93pHXywjbld3IQgNPiXsfts25M9yVVAvhFHSXrF11RxyMH6W2Dl00icgZ2PLqhQZ7nxS3q5NOsLHBNlerx5ANJTB/4zDzT8du0DHUkZr05XGAoV0X7DX6IcMJ9nQr+JwZRkcffgJouwM9opfGWk0oYB2B6KWNf64C7zvDHV" providerName="System.Data.SqlClient"/>
</connectionStrings>